  <section class="schoolkeypage"><img src="../images/School_banner_2.png" loading="lazy" sizes="(max-width: 1920px) 100vw, 1920px" srcset="../images/School_banner_2-p-500.png 500w, ../images/School_banner_2-p-800.png 800w, ../images/School_banner_2-p-1080.png 1080w, ../images/School_banner_2-p-1600.png 1600w, ../images/School_banner_2.png 1920w" alt=""></section>
  <section class="schoolbrand">
    <div class="schoolcontainter">
      <div class="detailschoolmain">
        <h1 class="school_keybrand">มองเดอพี</h1>
        <p class="school-brand-keytextdetail">กาแฟ และพิซซ่าม้ง ของดีของเด่นจากบ้านมณีพฤกษ์</p>
        <p class="school-brand-subtextdetail">จำหน่ายกาแฟจากบ้านมณีพฤกษ์ ซึ่งเป็นแหล่งกาแฟที่ดีที่สุดแห่งหนึ่งในไทย และยกระดับพิซซ่าม้งอาหารวัฒนธรรมของชนเผ่า<br>ซึ่งทำกินกันเฉพาะในช่วงเทศกาลปีละครั้ง ให้เป็นของทานเล่นที่เข้าถึงผู้คนได้มากขึ้น</p>

      </div>
    </div>
  </section>
  <section class="schoolteam">
    <div class="studentproject"><img src="../images/icon-pppy-2leaft.png" loading="lazy" alt="" class="schoolimage1">
      <h2 class="centered-heading-6">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
      <p class="centered-subheading-6">โรงเรียนพระธาตุพิทยาคม</p>
      <div class="schoolstudentgrid4">
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-5cc61e5f" class="school-studentcard"><img src="../images/ดำรงศักดิ์.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name p1">นายดำรงศักดิ์ ท้าวบุญญาภินิกุล</div>
          <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d98-5cc61e5f" class="school-studentcard"><img src="../images/กานดา.png" loading="lazy" alt="" class="school-student">
          <div class="team-member-name-3">นส. กานดา ยอดออน</div>
          <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5da2-5cc61e5f" class="school-studentcard"><img src="../images/นภัสสร.png" loading="lazy" alt="" class="school-student">
          <div class="team-member-name-3">นส. นภัสสร พูนเปี่ยม</div>
          <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5dac-5cc61e5f" class="school-studentcard"><img src="../images/ปกรณ์.png" loading="lazy" alt="" class="school-student">
          <div class="team-member-name-3">นายปกรณ์ ทองประเสริฐ</div>
          <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5db6-5cc61e5f" class="school-studentcard"><img src="../images/ศุภนุช.png" loading="lazy" alt="" class="school-student">
          <div class="team-member-name-3">นส. ศุภนุช สุต๋า</div>
          <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
        </div>
      </div>
    </div>
  </section>
  <section class="schoolphotovdos">
    <div class="container-_index_vdo">
      <div class="icon-tree"><img src="../images/icon-pppy-tree.png" loading="lazy" alt="" class="image-20"></div>
      <div class="w-layout-blockcontainer container-6 w-container">
        <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
        <a href="#" class="school_button w-button">แกลลอรี่</a>
        <a href="#" class="school_button w-button">วิดีโอแกลลอรี่</a>
      </div>
      <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/1_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/1_พระธาตุ-p-500.png 500w, ../images/1_พระธาตุ-p-800.png 800w, ../images/1_พระธาตุ.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
            <div class="team-block-3"><img src="../images/4_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/4_พระธาตุ-p-500.png 500w, ../images/4_พระธาตุ-p-800.png 800w, ../images/4_พระธาตุ.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/2_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2_พระธาตุ-p-500.png 500w, ../images/2_พระธาตุ-p-800.png 800w, ../images/2_พระธาตุ.png 1064w" alt="" class="schoolgallery"><img src="../images/5_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/5_พระธาตุ-p-500.png 500w, ../images/5_พระธาตุ-p-800.png 800w, ../images/5_พระธาตุ.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/3_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/3_พระธาตุ-p-500.png 500w, ../images/3_พระธาตุ-p-800.png 800w, ../images/3_พระธาตุ.png 1064w" alt="" class="schoolgallery"><img src="../images/6_พระธาตุ.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/6_พระธาตุ-p-500.png 500w, ../images/6_พระธาตุ-p-800.png 800w, ../images/6_พระธาตุ.png 1064w" alt="" class="schoolgallery"></div>
          </div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
      </div>
    </div>
  </section>