<section class="keyscool"><img src="../images/School_banner_6.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/School_banner_6-p-500.png 500w, ../images/School_banner_6-p-800.png 800w, ../images/School_banner_6-p-1080.png 1080w, ../images/School_banner_6-p-1600.png 1600w, ../images/School_banner_6.png 1920w" class="keyschoolimage"></section>
<section class="schoolbrand">
  <div class="schoolcontainter">
    <div class="detailschoolmain">
      <h1 class="school_keybrand">หลามรวย</h1>
      <p class="school-brand-keytextdetail">ข้าวหลามถอดเสื้อ ข้าวหลามแนวใหม่ กินง่าย ส่งได้ หลากหลายรสชาติ</p>
      <p class="school-brand-subtextdetail">พัฒนาข้าวหลามถอดเสื้อ ที่แก้ปัญหาข้าวหลามให้สามารถแกะรับประทานได้ง่ายขึ้น สามารถจัดส่งและเก็บได้หลายวัน<br>มีไส้หลากหลายรสชาติ และใช้ของดีท้องถิ่นอย่างมะแขว่น มาเป็นส่วนผสมของไส้ดึงดูดใจกลุ่มเป้าหมาย</p>
    </div>
  </div>
</section>
<section class="schoolteams">
  <div class="school-container"><img src="../images/Untitled-34.png" loading="lazy" alt="" class="schoolimage3"><img src="../images/Untitled-35.png" loading="lazy" alt="" class="schoolimage2">
    <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
    <p class="school-keytext">โรงเรียนสา อ.เวียงสา จ.น่าน</p>
    <div class="schoolstudentgrid4">
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-a05fcbdd" class="schoolstudentblock"><img src="../images/เพชรชรินทร์.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. เพชรชรินทร์ คำพุฒ</div>
        <div class="schoolname-subtext-student">รร. สา</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d98-a05fcbdd" class="schoolstudentblock"><img src="../images/ขวัญจิรา.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. ขวัญจิรา เคลื่อนคำ</div>
        <div class="schoolname-subtext-student">รร. สา</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5da2-a05fcbdd" class="schoolstudentblock"><img src="../images/ชัยวัฒน์.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นายชัยวัฒน์ ยาวิชัย</div>
        <div class="schoolname-subtext-student">รร. สา</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5db6-a05fcbdd" class="schoolstudentblock"><img src="../images/ธนภัทร.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นายธนภัทร คำสุหล้า</div>
        <div class="schoolname-subtext-student">รร. สา</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5dac-a05fcbdd" class="schoolstudentblock"><img src="../images/โสภิตา.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. โสภิตา หนักป้อ</div>
        <div class="schoolname-subtext-student">รร. สา</div>
      </div>
    </div>
  </div>
</section>
<section class="schoolphotovdos">
  <div class="container-_index_vdo">
    <div class="w-layout-blockcontainer container-6 w-container">
      <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
      <a href="#" class="school_button w-button">แกลลอรี่</a>
      <a href="#" class="school_button w-button">วิดีโอแกลลอรี่</a>
    </div>
    <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="w-slider-mask">
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/1_สา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/1_สา-p-500.png 500w, ../images/1_สา-p-800.png 800w, ../images/1_สา.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
          <div class="team-block-3"><img src="../images/4_สา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/4_สา-p-500.png 500w, ../images/4_สา-p-800.png 800w, ../images/4_สา.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
        </div>
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/2_สา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2_สา-p-500.png 500w, ../images/2_สา-p-800.png 800w, ../images/2_สา.png 1064w" alt="" class="schoolgallery"><img src="../images/5_สา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/5_สา-p-500.png 500w, ../images/5_สา-p-800.png 800w, ../images/5_สา.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
        </div>
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/3_สา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/3_สา-p-500.png 500w, ../images/3_สา-p-800.png 800w, ../images/3_สา.png 1064w" alt="" class="schoolgallery"><img src="../images/6_สา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/6_สา-p-500.png 500w, ../images/6_สา-p-800.png 800w, ../images/6_สา.png 1064w" alt="" class="schoolgallery"></div>
        </div>
      </div>
      <div class="team-slider-arrow-3 w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="team-slider-arrow-3 w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
    </div>
  </div>
</section>