  <section class="keyscool"><img src="../images/School_banner_9.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/School_banner_9-p-500.png 500w, ../images/School_banner_9-p-800.png 800w, ../images/School_banner_9-p-1080.png 1080w, ../images/School_banner_9-p-1600.png 1600w, ../images/School_banner_9.png 1920w" class="keyschoolimage"></section>
  <section class="schoolbrand">
    <div class="schoolcontainter">
      <div class="detailschoolmain">
        <h1 class="school_keybrand">ข้าวแคบ “ลินา”</h1>
        <p class="school-brand-keytextdetail">ยกระดับข้าวแคบ สินค้าชุมชนให้กินง่าย เป็นที่รู้จักมากยิ่งขึ้น</p>
        <p class="school-brand-subtextdetail">พัฒนาข้าวแคบขนมทานเล่นของท้องถิ่นให้มีรสชาติอร่อย หลากหลาย ทานง่าย<br>สามารถเข้าถึงกลุ่มผู้บริโภคได้มากขึ้น พร้อมผลักดันให้เป็นสินค้าชุมชนที่เป็นที่รู้จักในวงกว้าง</p>
      </div>
    </div>
  </section>
  <section class="schoolteams">
    <div class="school-container"><img src="../images/Untitled-34.png" loading="lazy" alt="" class="schoolimage3"><img src="../images/Untitled-35.png" loading="lazy" alt="" class="schoolimage2">
      <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
      <p class="school-keytext">โรงเรียนเมืองลีประชาสามัคคี</p>
      <div class="schoolstudentgrid4">
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-f265d5ba" class="schoolstudentblock"><img src="../images/จิรศักดิ์.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นายจิรศักดิ์ แดงต๊ะ</div>
          <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d98-f265d5ba" class="schoolstudentblock"><img src="../images/จินตนา.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. จินตนา จันอูน</div>
          <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5da2-f265d5ba" class="schoolstudentblock"><img src="../images/รุจรวี.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. รุจรวี วิชัยต๊ะ</div>
          <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5db6-f265d5ba" class="schoolstudentblock"><img src="../images/วัชราภรณ์.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. วัชราภรณ์ จีระ</div>
          <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5dac-f265d5ba" class="schoolstudentblock"><img src="../images/สุธาสินี.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. สุธาสินี อยู่เจริญ</div>
          <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
        </div>
      </div>
    </div>
  </section>
  <section class="schoolphotovdos">
    <div class="container-_index_vdo">
      <div class="w-layout-blockcontainer container-6 w-container">
        <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
        <a href="#" class="school_button w-button">แกลลอรี่</a>
        <a href="#" class="school_button w-button">วิดีโอแกลลอรี่</a>
      </div>
      <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/1_เมืองลี.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/1_เมืองลี-p-500.png 500w, ../images/1_เมืองลี-p-800.png 800w, ../images/1_เมืองลี.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
            <div class="team-block-3"><img src="../images/4_เมืองลี.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/4_เมืองลี-p-500.png 500w, ../images/4_เมืองลี-p-800.png 800w, ../images/4_เมืองลี.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/2_เมืองลี.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2_เมืองลี-p-500.png 500w, ../images/2_เมืองลี-p-800.png 800w, ../images/2_เมืองลี.png 1064w" alt="" class="schoolgallery"><img src="../images/5_เมืองลี.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/5_เมืองลี-p-500.png 500w, ../images/5_เมืองลี-p-800.png 800w, ../images/5_เมืองลี.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/3_เมืองลี.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/3_เมืองลี-p-500.png 500w, ../images/3_เมืองลี-p-800.png 800w, ../images/3_เมืองลี.png 1064w" alt="" class="schoolgallery"><img src="../images/6_เมืองลี.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/6_เมืองลี-p-500.png 500w, ../images/6_เมืองลี-p-800.png 800w, ../images/6_เมืองลี.png 1064w" alt="" class="schoolgallery"></div>
          </div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
      </div>
    </div>
  </section>