<section class="keyscool"><img src="../images/School_banner_4.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/School_banner_4-p-500.png 500w, 
  ../images/School_banner_4-p-800.png 800w, 
  ../images/School_banner_4-p-1080.png 1080w, 
  ../images/School_banner_4-p-1600.png 1600w, 
  ../images/School_banner_4.png 1920w" class="keyschoolimage"></section>
<section class="schoolbrand">
  <div class="schoolcontainter">
    <div class="detailschoolmain">
      <h1 class="school_keybrand">มะมื่นบัตเตอร์</h1>
      <p class="school-brand-keytextdetail">มะมื่นจากป่า สู่เนยถั่วสัญชาติไทย จากใจชาวบ้าน</p>
      <p class="school-brand-subtextdetail">เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย แต่ยังไม่ค่อยเป็นที่รู้จัก โดยนำมาพัฒนาเป็นเนยถั่วมะมื่น<br>คุณภาพดีมีประโยชน์สัญชาติไทย ที่สามารถเสิร์ฟร่วมกับอาหารเช้าสไตล์ของตะวันตกได้</p>
      <p class="school-brand-taktext">“สิ่งที่ทำได้ดีที่สุดสำหรับทีมเรา คือการยกระดับมะมื่นซึ่งเป็นวัตถุดิบพื้นถิ่นที่ถูกลืมให้เป็นที่รู้จักมากขึ้น <br>โดยนำมาปรับลุคใหม่เป็นการเพิ่มมูลค่าจากสิ่งที่คนมองไม่เห็น”<br><strong>นส. ปุณญาวีย์ โนแก้ว</strong></p>

    </div>
  </div>
</section>
<section class="schoolteams">
  <div class="school-container"><img src="../images/Untitled-34.png" loading="lazy" alt="" class="schoolimage1"><img src="../images/Untitled-35.png" loading="lazy" alt="" class="schoolimage2">
    <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
    <p class="school-keytext">โรงเรียนปัว อ.ปัว จ.น่าน</p>
    <div class="schoolstudentgrid4">
      <div id="w-node-_24087f47-d731-99ba-eff6-4f2d8f861d6e-edcb8961" class="schoolstudentblock"><img src="../images/ปุณญาวีย์.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. ปุณญาวีย์ โนแก้ว</div>
        <div class="schoolname-subtext-student">รร. ปัว</div>
      </div>
      <div id="w-node-_24087f47-d731-99ba-eff6-4f2d8f861d74-edcb8961" class="schoolstudentblock"><img src="../images/จิรนันท์.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. จิรนันท์ คำบุญยอ</div>
        <div class="schoolname-subtext-student">รร. ปัว</div>
      </div>
      <div id="w-node-_24087f47-d731-99ba-eff6-4f2d8f861d7a-edcb8961" class="schoolstudentblock"><img src="../images/พลอยพิศุทธิ์-.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. พลอยพิศุทธิ์ สว่างเมฆ</div>
        <div class="schoolname-subtext-student">รร. ปัว</div>
      </div>
      <div id="w-node-_24087f47-d731-99ba-eff6-4f2d8f861d80-edcb8961" class="schoolstudentblock"><img src="../images/พีรดา.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. พีรดา คันทะลือ</div>
        <div class="schoolname-subtext-student">รร. ปัว</div>
      </div>
      <div id="w-node-_24087f47-d731-99ba-eff6-4f2d8f861d86-edcb8961" class="schoolstudentblock"><img src="../images/ไอรัก.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. ไอรัก ไชยศิลป์</div>
        <div class="schoolname-subtext-student">รร. ปัว</div>
      </div>
    </div>
  </div>
</section>
<section class="schoolphotovdos">
  <div class="container-_index_vdo">
    <div class="w-layout-blockcontainer container-6 w-container">
      <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
      <a href="#" class="school_button w-button">แกลลอรี่</a>
      <a href="#" class="school_button w-button">วิดีโอแกลลอรี่</a>
    </div>
    <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="w-slider-mask">
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/1_pao-school.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/1_ปัว-p-500.png 500w, ../images/1_ปัว-p-800.png 800w, ../images/1_ปัว.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
          <div class="team-block-3"><img src="../images/4_ปัว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/4_ปัว-p-500.png 500w, ../images/4_ปัว-p-800.png 800w, ../images/4_ปัว.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
        </div>
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/2_ปัว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2_ปัว-p-500.png 500w, ../images/2_ปัว-p-800.png 800w, ../images/2_ปัว.png 1064w" alt="" class="schoolgallery"><img src="../images/5_ปัว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/5_ปัว-p-500.png 500w, ../images/5_ปัว-p-800.png 800w, ../images/5_ปัว.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
        </div>
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/3_ปัว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/3_ปัว-p-500.png 500w, ../images/3_ปัว-p-800.png 800w, ../images/3_ปัว.png 1064w" alt="" class="schoolgallery"><img src="../images/6_ปัว.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/6_ปัว-p-500.png 500w, ../images/6_ปัว-p-800.png 800w, ../images/6_ปัว.png 1064w" alt="" class="schoolgallery"></div>
        </div>
      </div>
      <div class="team-slider-arrow-3 w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="team-slider-arrow-3 w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
    </div>
  </div>
</section>