<section class="keypageall">
  <div class="w-layout-blockcontainer keypagecontainer w-container">
    <h1 class="keypagetext">ทำเนียบรุ่นศิษย์เก่า</h1>
  </div>
</section>
<div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
  <div class="tabsmart w-tab-menu">
    <a data-w-tab="Tab 1" class="generation w-inline-block w-tab-link w--current">
      <div class="generationtext">รุ่นที่ 1</div>
    </a>
    <a data-w-tab="Tab 3" class="generation w-inline-block w-tab-link">
      <div class="generationtext">ทั้งหมด</div>
    </a>
  </div>
  <div class="w-tab-content">
    <div data-w-tab="Tab 1" class="tabpane w-tab-pane w--tab-active">
      <section class="pagedeail">
        <div class="w-layout-blockcontainer pppyheadcenter w-container"><img src="images/logo_pppy_camplogo.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 65vw, (max-width: 991px) 44vw, (max-width: 1439px) 38vw, 500px" srcset="images/logo_pppy_camplogo-p-500.png 500w, images/logo_pppy_camplogo.png 738w" alt="" class="logo-text"></div>
        <div class="school-container">
          <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
          <p class="school-keytext">66 วัน เรียนรู้ชีวิต ทำธุรกิจให้เป็นจริง</p>
          <div class="schoolstudentgrid4">
            <div id="w-node-d391813f-0495-a2fe-8e63-fad03486c649-6e14e18a" class="schoolstudentblock"><img src="images/student01.jpg" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายพัฒชรพล อยู่สุข</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-d391813f-0495-a2fe-8e63-fad03486c64f-6e14e18a" class="schoolstudentblock"><img src="images/นายชินกฤต-มางิ้ว.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายชินกฤต มางิ้ว</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-d391813f-0495-a2fe-8e63-fad03486c655-6e14e18a" class="schoolstudentblock"><img src="images/นส.-ธันชนก-ยศยิ่งทวี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ธันชนก ยศยิ่งทวี</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-d391813f-0495-a2fe-8e63-fad03486c65b-6e14e18a" class="schoolstudentblock"><img src="images/นส.-พัชรพร-เขียนนา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พัชรพร เขียนนา</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-d391813f-0495-a2fe-8e63-fad03486c661-6e14e18a" class="schoolstudentblock"><img src="images/นส.-สุวิชญา-มาลา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. สุวิชญา มาลา</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-aa60ee60-2481-4162-216e-0f72ed9e8dbe-6e14e18a" class="schoolstudentblock"><img src="images/ดำรงศักดิ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name p1">นายดำรงศักดิ์ ท้าวบุญญาภินิกุล</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_6e33c79f-f68f-b046-2cea-bf2a7b9c27c7-6e14e18a" class="schoolstudentblock"><img src="images/กานดา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. กานดา ยอดออน</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_1733fb88-b151-aa72-9a9c-6be3b4577650-6e14e18a" class="school-studentcard"><img src="images/นภัสสร.png" loading="lazy" alt="" class="school-student">
              <div class="team-member-name-3">นส. นภัสสร พูนเปี่ยม</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-f4681cf5-ed42-b5d3-a5f9-c8db5d3a2efd-6e14e18a" class="school-studentcard"><img src="images/ปกรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="team-member-name-3">นายปกรณ์ ทองประเสริฐ</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_61ee2365-b006-e4ce-b2c8-3e18edc462a9-6e14e18a" class="school-studentcard"><img src="images/ศุภนุช.png" loading="lazy" alt="" class="school-student">
              <div class="team-member-name-3">นส. ศุภนุช สุต๋า</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-bb2d3fc0-6878-6145-cd6d-0bdef50a732c-6e14e18a" class="schoolstudentblock"><img src="images/ศวรรธน์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายศวรรธน์ มังคละ</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-bb2d3fc0-6878-6145-cd6d-0bdef50a7332-6e14e18a" class="schoolstudentblock"><img src="images/กมลนิตย์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. กมลนิตย์ คำหว่าง</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-bb2d3fc0-6878-6145-cd6d-0bdef50a7338-6e14e18a" class="schoolstudentblock"><img src="images/จิรัชญา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จิรัชญา คัญธะด้วง</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-bb2d3fc0-6878-6145-cd6d-0bdef50a733e-6e14e18a" class="schoolstudentblock"><img src="images/ฉัตรทิพย์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ฉัตรทิพย์ สมเงิน</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-bb2d3fc0-6878-6145-cd6d-0bdef50a7344-6e14e18a" class="schoolstudentblock"><img src="images/ฐิติกาญจน์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ฐิติกาญจน์ สุทธิแสน</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-_6a6920bd-2e54-47a7-a748-94c98e77670d-6e14e18a" class="schoolstudentblock"><img src="images/ปุณญาวีย์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ปุณญาวีย์ โนแก้ว</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_6a6920bd-2e54-47a7-a748-94c98e776713-6e14e18a" class="schoolstudentblock"><img src="images/จิรนันท์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จิรนันท์ คำบุญยอ</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_6a6920bd-2e54-47a7-a748-94c98e776719-6e14e18a" class="schoolstudentblock"><img src="images/พลอยพิศุทธิ์-.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พลอยพิศุทธิ์ สว่างเมฆ</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_6a6920bd-2e54-47a7-a748-94c98e77671f-6e14e18a" class="schoolstudentblock"><img src="images/พีรดา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พีรดา คันทะลือ</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_6a6920bd-2e54-47a7-a748-94c98e776725-6e14e18a" class="schoolstudentblock"><img src="images/ไอรัก.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ไอรัก ไชยศิลป์</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_08feb65c-c1a8-ca62-e002-1928cf50c874-6e14e18a" class="schoolstudentblock"><img src="images/ปิยภรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ปิยภรณ์ บัวทอง</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_08feb65c-c1a8-ca62-e002-1928cf50c87a-6e14e18a" class="schoolstudentblock"><img src="images/กฤติยาณี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. กฤติยาณี เทพจันตา</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_08feb65c-c1a8-ca62-e002-1928cf50c880-6e14e18a" class="schoolstudentblock"><img src="images/จิรภิญญา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จิรภิญญา ลัมยศ</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_08feb65c-c1a8-ca62-e002-1928cf50c886-6e14e18a" class="schoolstudentblock"><img src="images/พรปวีณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พรปวีณ์ ฝีปากเพราะ</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_08feb65c-c1a8-ca62-e002-1928cf50c88c-6e14e18a" class="schoolstudentblock"><img src="images/วชิราภรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. วชิราภรณ์ สมวงค์</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-ad57677f-5a2c-f749-428b-bc3390f66a81-6e14e18a" class="schoolstudentblock"><img src="images/เพชรชรินทร์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. เพชรชรินทร์ คำพุฒ</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-ad57677f-5a2c-f749-428b-bc3390f66a87-6e14e18a" class="schoolstudentblock"><img src="images/โสภิตา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ขวัญจิรา เคลื่อนคำ</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-ad57677f-5a2c-f749-428b-bc3390f66a8d-6e14e18a" class="schoolstudentblock"><img src="images/ชัยวัฒน์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายชัยวัฒน์ ยาวิชัย</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-ad57677f-5a2c-f749-428b-bc3390f66a93-6e14e18a" class="schoolstudentblock"><img src="images/ธนภัทร.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายธนภัทร คำสุหล้า</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-ad57677f-5a2c-f749-428b-bc3390f66a99-6e14e18a" class="schoolstudentblock"><img src="images/โสภิตา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. โสภิตา หนักป้อ</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-_63a07775-23e1-aa4c-d964-cdf060f2bc0f-6e14e18a" class="schoolstudentblock"><img src="images/นารี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. นารี แซ่โซ่ง</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_63a07775-23e1-aa4c-d964-cdf060f2bc15-6e14e18a" class="schoolstudentblock"><img src="images/ปรียาณัฐ.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ปรียาณัฐ ชัยภาคย์พิบูล</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_63a07775-23e1-aa4c-d964-cdf060f2bc1b-6e14e18a" class="schoolstudentblock"><img src="images/พิชญา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พิชญา พงศาผดุง</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_63a07775-23e1-aa4c-d964-cdf060f2bc21-6e14e18a" class="schoolstudentblock"><img src="images/ศศิลักษณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ศศิลักษณ์ อุ่นถิ่น</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_63a07775-23e1-aa4c-d964-cdf060f2bc27-6e14e18a" class="schoolstudentblock"><img src="images/ศุภามาศ.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ศุภามาศ สอนรัตน์</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_40c4ed25-8289-5807-8211-6eb67e80ec1b-6e14e18a" class="schoolstudentblock"><img src="images/จิรศักดิ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายจิรศักดิ์ แดงต๊ะ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_40c4ed25-8289-5807-8211-6eb67e80ec21-6e14e18a" class="schoolstudentblock"><img src="images/จินตนา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จินตนา จันอูน</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_40c4ed25-8289-5807-8211-6eb67e80ec27-6e14e18a" class="schoolstudentblock"><img src="images/รุจรวี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. รุจรวี วิชัยต๊ะ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_40c4ed25-8289-5807-8211-6eb67e80ec2d-6e14e18a" class="schoolstudentblock"><img src="images/วัชราภรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. วัชราภรณ์ จีระ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_40c4ed25-8289-5807-8211-6eb67e80ec33-6e14e18a" class="schoolstudentblock"><img src="images/สุธาสินี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. สุธาสินี อยู่เจริญ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div data-w-tab="Tab 3" class="tabpane w-tab-pane">
      <section class="pagedeail">
        <div class="w-layout-blockcontainer pppyheadcenter w-container"><img src="images/logo_pppy_camplogo.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 65vw, (max-width: 991px) 44vw, (max-width: 1439px) 38vw, 500px" srcset="images/logo_pppy_camplogo-p-500.png 500w, images/logo_pppy_camplogo.png 738w" alt="" class="logo-text"></div>
        <div class="school-container">
          <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ ทั้งหมด</h2>
          <div class="schoolstudentgrid4">
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693d1-6e14e18a" class="schoolstudentblock"><img src="images/student01.jpg" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายพัฒชรพล อยู่สุข</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693d7-6e14e18a" class="schoolstudentblock"><img src="images/นายชินกฤต-มางิ้ว.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายชินกฤต มางิ้ว</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693dd-6e14e18a" class="schoolstudentblock"><img src="images/นส.-ธันชนก-ยศยิ่งทวี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ธันชนก ยศยิ่งทวี</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693e3-6e14e18a" class="schoolstudentblock"><img src="images/นส.-พัชรพร-เขียนนา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พัชรพร เขียนนา</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693e9-6e14e18a" class="schoolstudentblock"><img src="images/นส.-สุวิชญา-มาลา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. สุวิชญา มาลา</div>
              <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693ef-6e14e18a" class="schoolstudentblock"><img src="images/ดำรงศักดิ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name p1">นายดำรงศักดิ์ ท้าวบุญญาภินิกุล</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693f5-6e14e18a" class="schoolstudentblock"><img src="images/กานดา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. กานดา ยอดออน</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b693fb-6e14e18a" class="school-studentcard"><img src="images/นภัสสร.png" loading="lazy" alt="" class="school-student">
              <div class="team-member-name-3">นส. นภัสสร พูนเปี่ยม</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69401-6e14e18a" class="school-studentcard"><img src="images/ปกรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="team-member-name-3">นายปกรณ์ ทองประเสริฐ</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69407-6e14e18a" class="school-studentcard"><img src="images/ศุภนุช.png" loading="lazy" alt="" class="school-student">
              <div class="team-member-name-3">นส. ศุภนุช สุต๋า</div>
              <div class="team-member-position-3">รร.พระธาตุพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6940d-6e14e18a" class="schoolstudentblock"><img src="images/ศวรรธน์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายศวรรธน์ มังคละ</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69413-6e14e18a" class="schoolstudentblock"><img src="images/กมลนิตย์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. กมลนิตย์ คำหว่าง</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69419-6e14e18a" class="schoolstudentblock"><img src="images/จิรัชญา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จิรัชญา คัญธะด้วง</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6941f-6e14e18a" class="schoolstudentblock"><img src="images/ฉัตรทิพย์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ฉัตรทิพย์ สมเงิน</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69425-6e14e18a" class="schoolstudentblock"><img src="images/ฐิติกาญจน์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ฐิติกาญจน์ สุทธิแสน</div>
              <div class="schoolname-subtext-student">รร. ท่าวังผาพิทยาคม</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6942b-6e14e18a" class="schoolstudentblock"><img src="images/ปุณญาวีย์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ปุณญาวีย์ โนแก้ว</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69431-6e14e18a" class="schoolstudentblock"><img src="images/จิรนันท์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จิรนันท์ คำบุญยอ</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69437-6e14e18a" class="schoolstudentblock"><img src="images/พลอยพิศุทธิ์-.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พลอยพิศุทธิ์ สว่างเมฆ</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6943d-6e14e18a" class="schoolstudentblock"><img src="images/พีรดา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พีรดา คันทะลือ</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69443-6e14e18a" class="schoolstudentblock"><img src="images/ไอรัก.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ไอรัก ไชยศิลป์</div>
              <div class="schoolname-subtext-student">รร. ปัว</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69449-6e14e18a" class="schoolstudentblock"><img src="images/ปิยภรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ปิยภรณ์ บัวทอง</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6944f-6e14e18a" class="schoolstudentblock"><img src="images/กฤติยาณี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. กฤติยาณี เทพจันตา</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69455-6e14e18a" class="schoolstudentblock"><img src="images/จิรภิญญา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จิรภิญญา ลัมยศ</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6945b-6e14e18a" class="schoolstudentblock"><img src="images/พรปวีณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พรปวีณ์ ฝีปากเพราะ</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69461-6e14e18a" class="schoolstudentblock"><img src="images/วชิราภรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. วชิราภรณ์ สมวงค์</div>
              <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69467-6e14e18a" class="schoolstudentblock"><img src="images/เพชรชรินทร์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. เพชรชรินทร์ คำพุฒ</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6946d-6e14e18a" class="schoolstudentblock"><img src="images/โสภิตา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ขวัญจิรา เคลื่อนคำ</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69473-6e14e18a" class="schoolstudentblock"><img src="images/ชัยวัฒน์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายชัยวัฒน์ ยาวิชัย</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69479-6e14e18a" class="schoolstudentblock"><img src="images/ธนภัทร.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายธนภัทร คำสุหล้า</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6947f-6e14e18a" class="schoolstudentblock"><img src="images/โสภิตา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. โสภิตา หนักป้อ</div>
              <div class="schoolname-subtext-student">รร. สา</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69485-6e14e18a" class="schoolstudentblock"><img src="images/นารี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. นารี แซ่โซ่ง</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6948b-6e14e18a" class="schoolstudentblock"><img src="images/ปรียาณัฐ.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ปรียาณัฐ ชัยภาคย์พิบูล</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69491-6e14e18a" class="schoolstudentblock"><img src="images/พิชญา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. พิชญา พงศาผดุง</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b69497-6e14e18a" class="schoolstudentblock"><img src="images/ศศิลักษณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ศศิลักษณ์ อุ่นถิ่น</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b6949d-6e14e18a" class="schoolstudentblock"><img src="images/ศุภามาศ.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. ศุภามาศ สอนรัตน์</div>
              <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b694a3-6e14e18a" class="schoolstudentblock"><img src="images/จิรศักดิ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นายจิรศักดิ์ แดงต๊ะ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b694a9-6e14e18a" class="schoolstudentblock"><img src="images/จินตนา.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. จินตนา จันอูน</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b694af-6e14e18a" class="schoolstudentblock"><img src="images/รุจรวี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. รุจรวี วิชัยต๊ะ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b694b5-6e14e18a" class="schoolstudentblock"><img src="images/วัชราภรณ์.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. วัชราภรณ์ จีระ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
            <div id="w-node-_5da7f1a2-28c2-a1c3-a86b-4bcb14b694bb-6e14e18a" class="schoolstudentblock"><img src="images/สุธาสินี.png" loading="lazy" alt="" class="school-student">
              <div class="schoolstudent-name">นส. สุธาสินี อยู่เจริญ</div>
              <div class="schoolname-subtext-student">รร. เมืองลีประชาสามัคคี</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>