  <section class="keypage-projectdetail topkey">
    <div class="w-layout-blockcontainer keypagecontainer w-container">
      <h1 class="keypagetext">แกลลอรี่</h1>
    </div>
  </section>
  <section class="newsandmedia">
    <div class="container-_index_vdo">
      <a href="{url_main}/news-media" class="nag-buttontop w-button">ข่าวสารและมีเดีย</a>
      <div class="w-layout-blockcontainer container-6 w-container">
        {arrayNewsCategory}
      </div>
      <div class="w-layout-grid grid3block">


        <a href="#" id="w-node-_9fc43944-a76c-4667-f8fe-05cd28671c38-33ca02f6" class="w-inline-block w-lightbox">
          <img src="images/1_เชียงกลาง.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" 
          srcset="images/1_เชียงกลาง-p-500.png 500w, 
          images/1_เชียงกลาง-p-800.png 800w, 
          images/1_เชียงกลาง.png 1064w" alt="" class="schoolgallery">
         
         
         
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651b6139beccf35f3626f370",
      "origFileName": "1_เชียงกลาง.png",
      "fileName": "1_เชียงกลาง.png",
      "fileSize": 1180052,
      "height": 710,
      "url": "images/1_เชียงกลาง.png",
      "width": 1064,
      "caption": "ทีม รร. เชียงกลางประชาพัฒนา",
      "type": "image"
    }
  ],
  "group": "เชียงกลาง"
}</script>
        </a>







        <a href="#" id="w-node-c8284296-60ce-a256-4e89-222fe78f2ec6-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_เชียงกลาง.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_เชียงกลาง-p-500.png 500w, images/2_เชียงกลาง-p-800.png 800w, images/2_เชียงกลาง.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651b6139c78416c9cd9ceaf5",
      "origFileName": "2_เชียงกลาง.png",
      "fileName": "2_เชียงกลาง.png",
      "fileSize": 1270212,
      "height": 710,
      "url": "images/2_เชียงกลาง.png",
      "width": 1064,
      "caption": "ทีม รร. เชียงกลางประชาพัฒนา",
      "type": "image"
    }
  ],
  "group": "เชียงกลาง"
}</script>
        </a>
        <a href="#" id="w-node-fbc04fed-34bb-32b3-5aca-33ca03cf9c5b-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_เชียงกลาง.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_เชียงกลาง-p-500.png 500w, images/3_เชียงกลาง-p-800.png 800w, images/3_เชียงกลาง.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651b61384d6195a65d0f5827",
      "origFileName": "3_เชียงกลาง.png",
      "fileName": "3_เชียงกลาง.png",
      "fileSize": 629695,
      "height": 710,
      "url": "images/3_เชียงกลาง.png",
      "width": 1064,
      "caption": "ทีม รร. เชียงกลางประชาพัฒนา",
      "type": "image"
    }
  ],
  "group": "เชียงกลาง"
}</script>
        </a>
        <a href="#" id="w-node-_8d4c97cd-ebfe-3f29-c8be-0f4c37ba63fd-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_เชียงกลาง.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_เชียงกลาง-p-500.png 500w, images/4_เชียงกลาง-p-800.png 800w, images/4_เชียงกลาง.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651b613837d53bdb04ff773e",
      "origFileName": "4_เชียงกลาง.png",
      "fileName": "4_เชียงกลาง.png",
      "fileSize": 959097,
      "height": 710,
      "url": "images/4_เชียงกลาง.png",
      "width": 1064,
      "caption": "ทีม รร. เชียงกลางประชาพัฒนา",
      "type": "image"
    }
  ],
  "group": "เชียงกลาง"
}</script>
        </a>
        <a href="#" id="w-node-_1e0f44bb-1c53-574b-8446-9b09e98379cf-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_เชียงกลาง.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_เชียงกลาง-p-500.png 500w, images/5_เชียงกลาง-p-800.png 800w, images/5_เชียงกลาง.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651b61381e3e28d046a0ba28",
      "origFileName": "5_เชียงกลาง.png",
      "fileName": "5_เชียงกลาง.png",
      "fileSize": 1094661,
      "height": 710,
      "url": "images/5_เชียงกลาง.png",
      "width": 1064,
      "caption": "ทีม รร. เชียงกลางประชาพัฒนา",
      "type": "image"
    }
  ],
  "group": "เชียงกลาง"
}</script>
        </a>
        <a href="#" id="w-node-b35f2aef-687a-1520-c1c5-357992e0bff9-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_เชียงกลาง.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_เชียงกลาง-p-500.png 500w, images/6_เชียงกลาง-p-800.png 800w, images/6_เชียงกลาง.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651b613837d53bdb04ff76fb",
      "origFileName": "6_เชียงกลาง.png",
      "fileName": "6_เชียงกลาง.png",
      "fileSize": 917693,
      "height": 710,
      "url": "images/6_เชียงกลาง.png",
      "width": 1064,
      "caption": "ทีม รร. เชียงกลางประชาพัฒนา",
      "type": "image"
    }
  ],
  "group": "เชียงกลาง"
}</script>
        </a>
        <a href="#" id="w-node-_1770e733-affc-b4bd-93fc-ab095270e8b2-33ca02f6" class="w-inline-block w-lightbox"><img src="images/1_พระธาตุ.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/1_พระธาตุ-p-500.png 500w, images/1_พระธาตุ-p-800.png 800w, images/1_พระธาตุ.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651a9aca2cf2f40b25be2b63",
      "origFileName": "1_พระธาตุ.png",
      "fileName": "1_พระธาตุ.png",
      "fileSize": 1124677,
      "height": 710,
      "url": "images/1_พระธาตุ.png",
      "width": 1064,
      "caption": "ทีม รร. พระธาตุพิทยาคม",
      "type": "image"
    }
  ],
  "group": "พระธาตุพิทยาคม"
}</script>
        </a>
        <a href="#" id="w-node-_58f34f05-18e4-9af8-179e-c683ef69e176-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_พระธาตุ.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_พระธาตุ-p-500.png 500w, images/2_พระธาตุ-p-800.png 800w, images/2_พระธาตุ.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651a9aca3938d2c6ffc0f95b",
      "origFileName": "2_พระธาตุ.png",
      "fileName": "2_พระธาตุ.png",
      "fileSize": 1225634,
      "height": 710,
      "url": "images/2_พระธาตุ.png",
      "width": 1064,
      "caption": "ทีม รร. พระธาตุพิทยาคม",
      "type": "image"
    }
  ],
  "group": "พระธาตุพิทยาคม"
}</script>
        </a>
        <a href="#" id="w-node-_9e7511fc-fc13-860f-b21f-06e8b12667a7-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_พระธาตุ.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_พระธาตุ-p-500.png 500w, images/3_พระธาตุ-p-800.png 800w, images/3_พระธาตุ.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651a9acab729cf5b020c89d8",
      "origFileName": "3_พระธาตุ.png",
      "fileName": "3_พระธาตุ.png",
      "fileSize": 1049138,
      "height": 710,
      "url": "images/3_พระธาตุ.png",
      "width": 1064,
      "caption": "ทีม รร. พระธาตุพิทยาคม",
      "type": "image"
    }
  ],
  "group": "พระธาตุพิทยาคม"
}</script>
        </a>
        <a href="#" id="w-node-def607fe-ef22-6b7f-4196-5461517e0ea7-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_พระธาตุ.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_พระธาตุ-p-500.png 500w, images/4_พระธาตุ-p-800.png 800w, images/4_พระธาตุ.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651a9aca2cf2f40b25be2b66",
      "origFileName": "4_พระธาตุ.png",
      "fileName": "4_พระธาตุ.png",
      "fileSize": 751454,
      "height": 710,
      "url": "images/4_พระธาตุ.png",
      "width": 1064,
      "caption": "ทีม รร. พระธาตุพิทยาคม",
      "type": "image"
    }
  ],
  "group": "พระธาตุพิทยาคม"
}</script>
        </a>
        <a href="#" id="w-node-fcf95242-aeb5-36f9-9a96-c9afde2f6c69-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_พระธาตุ.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_พระธาตุ-p-500.png 500w, images/5_พระธาตุ-p-800.png 800w, images/5_พระธาตุ.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651a9acaeca0ce9f1b3f41cc",
      "origFileName": "5_พระธาตุ.png",
      "fileName": "5_พระธาตุ.png",
      "fileSize": 897095,
      "height": 710,
      "url": "images/5_พระธาตุ.png",
      "width": 1064,
      "caption": "ทีม รร. พระธาตุพิทยาคม",
      "type": "image"
    }
  ],
  "group": "พระธาตุพิทยาคม"
}</script>
        </a>
        <a href="#" id="w-node-_5cff49eb-c7fc-74e6-5bd6-98af9aa49a9b-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_พระธาตุ.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_พระธาตุ-p-500.png 500w, images/6_พระธาตุ-p-800.png 800w, images/6_พระธาตุ.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651a9aca43b362da15935760",
      "origFileName": "6_พระธาตุ.png",
      "fileName": "6_พระธาตุ.png",
      "fileSize": 840158,
      "height": 710,
      "url": "images/6_พระธาตุ.png",
      "width": 1064,
      "caption": "ทีม รร. พระธาตุพิทยาคม",
      "type": "image"
    }
  ],
  "group": "พระธาตุพิทยาคม"
}</script>
        </a>
        <a href="#" id="w-node-_445969d9-05ab-b269-9230-db8b6bdf42e5-33ca02f6" class="w-inline-block w-lightbox"><img src="images/1_ท่าวังผา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/1_ท่าวังผา-p-500.png 500w, images/1_ท่าวังผา-p-800.png 800w, images/1_ท่าวังผา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651aaf96345181566012a5e5",
      "origFileName": "1_ท่าวังผา.png",
      "fileName": "1_ท่าวังผา.png",
      "fileSize": 1156724,
      "height": 710,
      "url": "images/1_ท่าวังผา.png",
      "width": 1064,
      "caption": "ทีม รร. ท่าวังผา",
      "type": "image"
    }
  ],
  "group": "ท่าวังผา"
}</script>
        </a>
        <a href="#" id="w-node-_6abb7546-1748-a1f0-6e7d-7e8e073d3895-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_ท่าวังผา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_ท่าวังผา-p-500.png 500w, images/2_ท่าวังผา-p-800.png 800w, images/2_ท่าวังผา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651aaf96ef21d065245c4708",
      "origFileName": "2_ท่าวังผา.png",
      "fileName": "2_ท่าวังผา.png",
      "fileSize": 1189946,
      "height": 710,
      "url": "images/2_ท่าวังผา.png",
      "width": 1064,
      "caption": "ทีม รร. ท่าวังผา",
      "type": "image"
    }
  ],
  "group": "ท่าวังผา"
}</script>
        </a>
        <a href="#" id="w-node-_5145cf47-935c-9853-f061-15a884935804-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_ท่าวังผา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_ท่าวังผา-p-500.png 500w, images/3_ท่าวังผา-p-800.png 800w, images/3_ท่าวังผา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651aaf96113dc8baff377f52",
      "origFileName": "3_ท่าวังผา.png",
      "fileName": "3_ท่าวังผา.png",
      "fileSize": 1047088,
      "height": 710,
      "url": "images/3_ท่าวังผา.png",
      "width": 1064,
      "caption": "ทีม รร. ท่าวังผา",
      "type": "image"
    }
  ],
  "group": "ท่าวังผา"
}</script>
        </a>
        <a href="#" id="w-node-_4a128ef2-056c-42ac-b655-b3e104e25bd9-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_ท่าวังผา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_ท่าวังผา-p-500.png 500w, images/4_ท่าวังผา-p-800.png 800w, images/4_ท่าวังผา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651aaf96b45ea52a30640b7d",
      "origFileName": "4_ท่าวังผา.png",
      "fileName": "4_ท่าวังผา.png",
      "fileSize": 845370,
      "height": 710,
      "url": "images/4_ท่าวังผา.png",
      "width": 1064,
      "caption": "ทีม รร. ท่าวังผา",
      "type": "image"
    }
  ],
  "group": "ท่าวังผา"
}</script>
        </a>
        <a href="#" id="w-node-ff27364c-a86d-cf2b-b637-e88571002fac-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_ท่าวังผา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_ท่าวังผา-p-500.png 500w, images/5_ท่าวังผา-p-800.png 800w, images/5_ท่าวังผา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651aaf96b45ea52a30640b80",
      "origFileName": "5_ท่าวังผา.png",
      "fileName": "5_ท่าวังผา.png",
      "fileSize": 853260,
      "height": 710,
      "url": "images/5_ท่าวังผา.png",
      "width": 1064,
      "caption": "ทีม รร. ท่าวังผา",
      "type": "image"
    }
  ],
  "group": "ท่าวังผา"
}</script>
        </a>
        <a href="#" id="w-node-ab3c1bf0-ab59-fa94-b248-19a7a0eb7d78-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_ท่าวังผา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_ท่าวังผา-p-500.png 500w, images/6_ท่าวังผา-p-800.png 800w, images/6_ท่าวังผา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651aaf9603f225dc6911bf8e",
      "origFileName": "6_ท่าวังผา.png",
      "fileName": "6_ท่าวังผา.png",
      "fileSize": 1015700,
      "height": 710,
      "url": "images/6_ท่าวังผา.png",
      "width": 1064,
      "caption": "ทีม รร. ท่าวังผา",
      "type": "image"
    }
  ],
  "group": "ท่าวังผา"
}</script>
        </a>
        <a href="#" id="w-node-b8e8168f-3f6d-b546-80f4-a31c513af503-33ca02f6" class="w-inline-block w-lightbox"><img src="images/1_ปัว.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/1_ปัว-p-500.png 500w, images/1_ปัว-p-800.png 800w, images/1_ปัว.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab44bf88f2a310a2441c2",
      "origFileName": "1_ปัว.png",
      "fileName": "1_ปัว.png",
      "fileSize": 804988,
      "height": 710,
      "url": "images/1_ปัว.png",
      "width": 1064,
      "caption": "ทีม รร. ปัว",
      "type": "image"
    }
  ],
  "group": "ปัว"
}</script>
        </a>
        <a href="#" id="w-node-_44e724f2-0499-c363-0219-10cec147f024-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_ปัว.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_ปัว-p-500.png 500w, images/2_ปัว-p-800.png 800w, images/2_ปัว.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab44b7e69a0bd50d8c4da",
      "origFileName": "2_ปัว.png",
      "fileName": "2_ปัว.png",
      "fileSize": 877768,
      "height": 710,
      "url": "images/2_ปัว.png",
      "width": 1064,
      "caption": "ทีม รร. ปัว",
      "type": "image"
    }
  ],
  "group": "ปัว"
}</script>
        </a>
        <a href="#" id="w-node-b28d01c5-fced-325b-5f0e-69e97ff2fd77-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_ปัว.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_ปัว-p-500.png 500w, images/3_ปัว-p-800.png 800w, images/3_ปัว.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab44a505508a8b2e4ac16",
      "origFileName": "3_ปัว.png",
      "fileName": "3_ปัว.png",
      "fileSize": 729791,
      "height": 710,
      "url": "images/3_ปัว.png",
      "width": 1064,
      "caption": "ทีม รร. ปัว",
      "type": "image"
    }
  ],
  "group": "ปัว"
}</script>
        </a>
        <a href="#" id="w-node-ba11151a-d730-961e-c9c6-2551431b4ef9-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_ปัว.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_ปัว-p-500.png 500w, images/4_ปัว-p-800.png 800w, images/4_ปัว.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab44cb45ea52a3068c70f",
      "origFileName": "4_ปัว.png",
      "fileName": "4_ปัว.png",
      "fileSize": 836753,
      "height": 710,
      "url": "images/4_ปัว.png",
      "width": 1064,
      "caption": "ทีม รร. ปัว",
      "type": "image"
    }
  ],
  "group": "ปัว"
}</script>
        </a>
        <a href="#" id="w-node-b8e0cb5d-ed76-af97-d4da-2b2fde552a40-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_ปัว.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_ปัว-p-500.png 500w, images/5_ปัว-p-800.png 800w, images/5_ปัว.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab44ae8b4381f459c33a1",
      "origFileName": "5_ปัว.png",
      "fileName": "5_ปัว.png",
      "fileSize": 864959,
      "height": 710,
      "url": "images/5_ปัว.png",
      "width": 1064,
      "type": "image"
    }
  ],
  "group": "ปัว"
}</script>
        </a>
        <a href="#" id="w-node-_852b0e14-1dcb-d7e9-9e2a-bb615222ce3f-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_ปัว.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_ปัว-p-500.png 500w, images/6_ปัว-p-800.png 800w, images/6_ปัว.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab44a4d3723b24fa67111",
      "origFileName": "6_ปัว.png",
      "fileName": "6_ปัว.png",
      "fileSize": 864038,
      "height": 710,
      "url": "images/6_ปัว.png",
      "width": 1064,
      "caption": "ทีม รร. ปัว",
      "type": "image"
    }
  ],
  "group": "ปัว"
}</script>
        </a>
        <a href="#" id="w-node-_98c39cff-c79a-81b5-00f6-f02f0746034f-33ca02f6" class="w-inline-block w-lightbox"><img src="images/1_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/1_ศรีสวัสดิ์-p-500.png 500w, images/1_ศรีสวัสดิ์-p-800.png 800w, images/1_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab80e17128b72dbf6aac8",
      "origFileName": "1_ศรีสวัสดิ์.png",
      "fileName": "1_ศรีสวัสดิ์.png",
      "fileSize": 1031152,
      "height": 710,
      "url": "images/1_ศรีสวัสดิ์.png",
      "width": 1064,
      "caption": "ทีม รร. ศรีสวัสดิ์วิทยาคาร",
      "type": "image"
    }
  ],
  "group": "ศรีสวัสดิ์วิทยาคาร"
}</script>
        </a>
        <a href="#" id="w-node-b80b9d48-e6e5-f70f-cdce-4fdc8a50e649-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_ศรีสวัสดิ์-p-500.png 500w, images/2_ศรีสวัสดิ์-p-800.png 800w, images/2_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab80c48430e2eec3b37a4",
      "origFileName": "2_ศรีสวัสดิ์.png",
      "fileName": "2_ศรีสวัสดิ์.png",
      "fileSize": 998247,
      "height": 710,
      "url": "images/2_ศรีสวัสดิ์.png",
      "width": 1064,
      "caption": "ทีม รร. ศรีสวัสดิ์วิทยาคาร",
      "type": "image"
    }
  ],
  "group": "ศรีสวัสดิ์วิทยาคาร"
}</script>
        </a>
        <a href="#" id="w-node-fe2aae9c-c1fe-1640-cbd7-eae96800ee95-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_ศรีสวัสดิ์-p-500.png 500w, images/3_ศรีสวัสดิ์-p-800.png 800w, images/3_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab80c6e20c216429c7be4",
      "origFileName": "3_ศรีสวัสดิ์.png",
      "fileName": "3_ศรีสวัสดิ์.png",
      "fileSize": 1045813,
      "height": 710,
      "url": "images/3_ศรีสวัสดิ์.png",
      "width": 1064,
      "caption": "ทีม รร. ศรีสวัสดิ์วิทยาคาร",
      "type": "image"
    }
  ],
  "group": "ศรีสวัสดิ์วิทยาคาร"
}</script>
        </a>
        <a href="#" id="w-node-_92c387f7-d9d6-36d4-2d72-bcf26be8fe1c-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_ศรีสวัสดิ์-p-500.png 500w, images/4_ศรีสวัสดิ์-p-800.png 800w, images/4_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab80c317e79283510d89a",
      "origFileName": "4_ศรีสวัสดิ์.png",
      "fileName": "4_ศรีสวัสดิ์.png",
      "fileSize": 954914,
      "height": 710,
      "url": "images/4_ศรีสวัสดิ์.png",
      "width": 1064,
      "caption": "ทีม รร. ศรีสวัสดิ์วิทยาคาร",
      "type": "image"
    }
  ],
  "group": "ศรีสวัสดิ์วิทยาคาร"
}</script>
        </a>
        <a href="#" id="w-node-_8bf1601f-2d2f-a3cc-4212-ca198b61bfd9-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_ศรีสวัสดิ์-p-500.png 500w, images/5_ศรีสวัสดิ์-p-800.png 800w, images/5_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab80c60653eef0bcfb41d",
      "origFileName": "5_ศรีสวัสดิ์.png",
      "fileName": "5_ศรีสวัสดิ์.png",
      "fileSize": 1013898,
      "height": 710,
      "url": "images/5_ศรีสวัสดิ์.png",
      "width": 1064,
      "caption": "ทีม รร. ศรีสวัสดิ์วิทยาคาร",
      "type": "image"
    }
  ],
  "group": "ศรีสวัสดิ์วิทยาคาร"
}</script>
        </a>
        <a href="#" id="w-node-e87634f3-004a-c08c-29f0-8a5010975c1c-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_ศรีสวัสดิ์-p-500.png 500w, images/6_ศรีสวัสดิ์-p-800.png 800w, images/6_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab80cdae6aa4f356bf0ca",
      "origFileName": "6_ศรีสวัสดิ์.png",
      "fileName": "6_ศรีสวัสดิ์.png",
      "fileSize": 1028673,
      "height": 710,
      "url": "images/6_ศรีสวัสดิ์.png",
      "width": 1064,
      "caption": "ทีม รร. ศรีสวัสดิ์วิทยาคาร",
      "type": "image"
    }
  ],
  "group": "ศรีสวัสดิ์วิทยาคาร"
}</script>
        </a>
        <a href="#" id="w-node-a9707919-d50b-15a5-48b7-1390e0264039-33ca02f6" class="w-inline-block w-lightbox"><img src="images/1_สา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/1_สา-p-500.png 500w, images/1_สา-p-800.png 800w, images/1_สา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab9929a7018a5323f3b57",
      "origFileName": "1_สา.png",
      "fileName": "1_สา.png",
      "fileSize": 1149942,
      "height": 710,
      "url": "images/1_สา.png",
      "width": 1064,
      "caption": "ทีม รร. สา",
      "type": "image"
    }
  ],
  "group": "สา"
}</script>
        </a>
        <a href="#" id="w-node-fb45dc1e-f422-1701-ba45-ff900213e18f-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_สา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_สา-p-500.png 500w, images/2_สา-p-800.png 800w, images/2_สา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab99269fe25ee5c76d411",
      "origFileName": "2_สา.png",
      "fileName": "2_สา.png",
      "fileSize": 835981,
      "height": 710,
      "url": "images/2_สา.png",
      "width": 1064,
      "caption": "ทีม รร. สา",
      "type": "image"
    }
  ],
  "group": "สา"
}</script>
        </a>
        <a href="#" id="w-node-_5205b6fe-5a64-2eca-535e-a27e8e4b7a7c-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_สา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_สา-p-500.png 500w, images/3_สา-p-800.png 800w, images/3_สา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab9925bba438ab46a48c4",
      "origFileName": "3_สา.png",
      "fileName": "3_สา.png",
      "fileSize": 1035225,
      "height": 710,
      "url": "images/3_สา.png",
      "width": 1064,
      "caption": "ทีม รร. สา",
      "type": "image"
    }
  ],
  "group": "สา"
}</script>
        </a>
        <a href="#" id="w-node-_36ee5d73-4258-7eed-e51a-3acfc3c219ae-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_สา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_สา-p-500.png 500w, images/4_สา-p-800.png 800w, images/4_สา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab9927e69a0bd50de1d86",
      "origFileName": "4_สา.png",
      "fileName": "4_สา.png",
      "fileSize": 998525,
      "height": 710,
      "url": "images/4_สา.png",
      "width": 1064,
      "caption": "ทีม รร. สา",
      "type": "image"
    }
  ],
  "group": "สา"
}</script>
        </a>
        <a href="#" id="w-node-_732e86b1-4ff4-15e9-8c59-36229b91c35c-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_สา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_สา-p-500.png 500w, images/5_สา-p-800.png 800w, images/5_สา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab9929bc421d706314300",
      "origFileName": "5_สา.png",
      "fileName": "5_สา.png",
      "fileSize": 797182,
      "height": 710,
      "url": "images/5_สา.png",
      "width": 1064,
      "caption": "ทีม รร. สา",
      "type": "image"
    }
  ],
  "group": "สา"
}</script>
        </a>
        <a href="#" id="w-node-_9ecf8855-724d-bb71-fc46-27d7f3463a39-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_สา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_สา-p-500.png 500w, images/6_สา-p-800.png 800w, images/6_สา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651ab992063369624e332be2",
      "origFileName": "6_สา.png",
      "fileName": "6_สา.png",
      "fileSize": 962666,
      "height": 710,
      "url": "images/6_สา.png",
      "width": 1064,
      "caption": "ทีม รร. สา",
      "type": "image"
    }
  ],
  "group": "สา"
}</script>
        </a>
        <a href="#" id="w-node-eb92a96a-57d6-9ed5-8d26-d9c55832fc5d-33ca02f6" class="w-inline-block w-lightbox"><img src="images/1_ราชประชา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/1_ราชประชา-p-500.png 500w, images/1_ราชประชา-p-800.png 800w, images/1_ราชประชา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abce23c9d7a77eba10b95",
      "origFileName": "1_ราชประชา.png",
      "fileName": "1_ราชประชา.png",
      "fileSize": 933630,
      "height": 710,
      "url": "images/1_ราชประชา.png",
      "width": 1064,
      "caption": "ทีม รร. ราชประชานุเคราะห์ 56",
      "type": "image"
    }
  ],
  "group": "ราชประชานุเคราะห์56"
}</script>
        </a>
        <a href="#" id="w-node-_695aa930-ad47-045a-bd2d-f7619f0cb6a7-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_ราชประชา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_ราชประชา-p-500.png 500w, images/2_ราชประชา-p-800.png 800w, images/2_ราชประชา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abce2b3cbb2ab4ebc4ad7",
      "origFileName": "2_ราชประชา.png",
      "fileName": "2_ราชประชา.png",
      "fileSize": 901017,
      "height": 710,
      "url": "images/2_ราชประชา.png",
      "width": 1064,
      "caption": "ทีม รร. ราชประชานุเคราะห์ 56",
      "type": "image"
    }
  ],
  "group": "ราชประชานุเคราะห์56"
}</script>
        </a>
        <a href="#" id="w-node-_272cfac6-fa47-f50b-5d73-e6a7d87c115b-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_ราชประชา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_ราชประชา-p-500.png 500w, images/3_ราชประชา-p-800.png 800w, images/3_ราชประชา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abce25ad288934d1dd405",
      "origFileName": "3_ราชประชา.png",
      "fileName": "3_ราชประชา.png",
      "fileSize": 1206387,
      "height": 710,
      "url": "images/3_ราชประชา.png",
      "width": 1064,
      "caption": "ทีม รร. ราชประชานุเคราะห์ 56",
      "type": "image"
    }
  ],
  "group": "ราชประชานุเคราะห์56"
}</script>
        </a>
        <a href="#" id="w-node-_5b107d92-b743-c546-b8ba-6693401e825d-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_ราชประชา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_ราชประชา-p-500.png 500w, images/4_ราชประชา-p-800.png 800w, images/4_ราชประชา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abce2acdc2e20060c83a3",
      "origFileName": "4_ราชประชา.png",
      "fileName": "4_ราชประชา.png",
      "fileSize": 986525,
      "height": 710,
      "url": "images/4_ราชประชา.png",
      "width": 1064,
      "caption": "ทีม รร. ราชประชานุเคราะห์ 56",
      "type": "image"
    }
  ],
  "group": "ราชประชานุเคราะห์56"
}</script>
        </a>
        <a href="#" id="w-node-_7f9b0dd1-f43c-da44-6e34-fafa38517160-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_ราชประชา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_ราชประชา-p-500.png 500w, images/5_ราชประชา-p-800.png 800w, images/5_ราชประชา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abce22448fd8161266c9e",
      "origFileName": "5_ราชประชา.png",
      "fileName": "5_ราชประชา.png",
      "fileSize": 732845,
      "height": 710,
      "url": "images/5_ราชประชา.png",
      "width": 1064,
      "caption": "ทีม รร. ราชประชานุเคราะห์ 56",
      "type": "image"
    }
  ],
  "group": "ราชประชานุเคราะห์56"
}</script>
        </a>
        <a href="#" id="w-node-a4c98d45-81aa-bce2-68f9-163e45fe0cac-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_ราชประชา.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_ราชประชา-p-500.png 500w, images/6_ราชประชา-p-800.png 800w, images/6_ราชประชา.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abce2a0ab61fb9782359b",
      "origFileName": "6_ราชประชา.png",
      "fileName": "6_ราชประชา.png",
      "fileSize": 966799,
      "height": 710,
      "url": "images/6_ราชประชา.png",
      "width": 1064,
      "caption": "ทีม รร. ราชประชานุเคราะห์ 56",
      "type": "image"
    }
  ],
  "group": "ราชประชานุเคราะห์56"
}</script>
        </a>
        <a href="#" id="w-node-fffd24a6-9bbb-1e7c-84ef-cea906a907ba-33ca02f6" class="w-inline-block w-lightbox"><img src="images/1_เมืองลี.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/1_เมืองลี-p-500.png 500w, images/1_เมืองลี-p-800.png 800w, images/1_เมืองลี.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abed6acdc2e20060f96bf",
      "origFileName": "1_เมืองลี.png",
      "fileName": "1_เมืองลี.png",
      "fileSize": 1144282,
      "height": 710,
      "url": "images/1_เมืองลี.png",
      "width": 1064,
      "caption": "ทีม รร. เมืองลีประชาสามัคคี",
      "type": "image"
    }
  ],
  "group": "เมืองลีประชาสามัคคี"
}</script>
        </a>
        <a href="#" id="w-node-_87dd630f-8d46-2757-899a-874e789cb58f-33ca02f6" class="w-inline-block w-lightbox"><img src="images/2_เมืองลี.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/2_เมืองลี-p-500.png 500w, images/2_เมืองลี-p-800.png 800w, images/2_เมืองลี.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abed65ad288934d2080cf",
      "origFileName": "2_เมืองลี.png",
      "fileName": "2_เมืองลี.png",
      "fileSize": 768463,
      "height": 710,
      "url": "images/2_เมืองลี.png",
      "width": 1064,
      "caption": "ทีม รร. เมืองลีประชาสามัคคี",
      "type": "image"
    }
  ],
  "group": "เมืองลีประชาสามัคคี"
}</script>
        </a>
        <a href="#" id="w-node-_3fd2bddd-d720-129f-223d-a1430033d266-33ca02f6" class="w-inline-block w-lightbox"><img src="images/3_เมืองลี.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/3_เมืองลี-p-500.png 500w, images/3_เมืองลี-p-800.png 800w, images/3_เมืองลี.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abed62448fd81612903f8",
      "origFileName": "3_เมืองลี.png",
      "fileName": "3_เมืองลี.png",
      "fileSize": 989534,
      "height": 710,
      "url": "images/3_เมืองลี.png",
      "width": 1064,
      "caption": "ทีม รร. เมืองลีประชาสามัคคี",
      "type": "image"
    }
  ],
  "group": "เมืองลีประชาสามัคคี"
}</script>
        </a>
        <a href="#" id="w-node-_9f56870c-8b8c-137f-4043-8b2e959639f9-33ca02f6" class="w-inline-block w-lightbox"><img src="images/4_เมืองลี.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/4_เมืองลี-p-500.png 500w, images/4_เมืองลี-p-800.png 800w, images/4_เมืองลี.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abed6222dfe87ff65fbe4",
      "origFileName": "4_เมืองลี.png",
      "fileName": "4_เมืองลี.png",
      "fileSize": 1078979,
      "height": 710,
      "url": "images/4_เมืองลี.png",
      "width": 1064,
      "caption": "ทีม รร. เมืองลีประชาสามัคคี",
      "type": "image"
    }
  ],
  "group": "เมืองลีประชาสามัคคี"
}</script>
        </a>
        <a href="#" id="w-node-f377ec0c-dc3a-894d-9382-6606de034982-33ca02f6" class="w-inline-block w-lightbox"><img src="images/5_เมืองลี.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/5_เมืองลี-p-500.png 500w, images/5_เมืองลี-p-800.png 800w, images/5_เมืองลี.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abed66d31989bc5c35198",
      "origFileName": "5_เมืองลี.png",
      "fileName": "5_เมืองลี.png",
      "fileSize": 1018585,
      "height": 710,
      "url": "images/5_เมืองลี.png",
      "width": 1064,
      "caption": "ทีม รร. เมืองลีประชาสามัคคี",
      "type": "image"
    }
  ],
  "group": "เมืองลีประชาสามัคคี"
}</script>
        </a>
        <a href="#" id="w-node-a847f7eb-8480-053a-3060-8df407900cb0-33ca02f6" class="w-inline-block w-lightbox"><img src="images/6_เมืองลี.png" loading="lazy" sizes="(max-width: 767px) 94vw, 500px" srcset="images/6_เมืองลี-p-500.png 500w, images/6_เมืองลี-p-800.png 800w, images/6_เมืองลี.png 1064w" alt="" class="schoolgallery">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "651abed648430e2eec430c8c",
      "origFileName": "6_เมืองลี.png",
      "fileName": "6_เมืองลี.png",
      "fileSize": 1226124,
      "height": 710,
      "url": "images/6_เมืองลี.png",
      "width": 1064,
      "caption": "ทีม รร. เมืองลีประชาสามัคคี",
      "type": "image"
    }
  ],
  "group": "เมืองลีประชาสามัคคี"
}</script>
        </a>
      </div>
    </div>
  </section>

 