  <section class="pppy_all_camps">
    <div class="container">
    <div class="pppy_map_section w-row">
      <div class="coldrop w-col w-col-6">
        <div class="w-layout-blockcontainer container-19 w-container"><img src="images/logo_pppy_camplogo.png" loading="lazy" sizes="(max-width: 1439px) 20px, 1vw" srcset="images/logo_pppy_camplogo-p-500.png 500w, images/logo_pppy_camplogo.png 738w" alt="" class="pppycamp_1" style="width: 100%;">
          <h1 class="headline_home_map">66 วัน เรียนรู้ชีวิต ทำธุรกิจให้เป็นจริง</h1>
          <p class="paragraph-6">มูลนิธิเพาะพันธุ์ปัญญา มุ่งสานต่อความสำเร็จของโครงการน่านเพาะพันธุ์ปัญญา ด้วยการพัฒนาสมรรถนะของนักเรียนให้มีทักษะแห่งศตวรรษที่ 21 เตรียมพร้อม เติบโตเป็นพลเมืองที่มีคุณภาพ เป็นกำลังสำคัญในการสร้างสรรค์เศรษฐกิจ สังคมสิ่งแวดล้อม ธรรมภิบาล และความยั่งยืนของประเทศไทยในอนาคต...</p>
          <a href="pohpunpanya-boothcamp1.html" class="btn_pppy_map w-button">รายละเอียดโครงการ</a>
          <div data-hover="true" data-delay="0" class="dropdown_camp w-dropdown" style="margin-bottom:0;">
            <figure class="drp_campep w-dropdown-toggle" style="margin-bottom:0;">
              <div class="w-icon-dropdown-toggle"></div>
              <div class="drp_camp_text">รุ่นที่</div>
            </figure>
            <address class="drp_pppyep w-dropdown-list">
              <a id="aml01" class="drp_camplist w-dropdown-link" onclick="chooseModal(1)" onmouseover="chooseModal(1)">รุ่นที่ 1</a>
            </address>
          </div>
          <div data-hover="false" data-delay="0" class="dropdown_province w-dropdown" style="margin-bottom:0;">
            <div class="drp_campep w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div class="drp_camp_text">รายชื่อจังหวัด อำเภอ</div>
            </div>
            <nav class="drp_campyep w-dropdown-list">
              <a href="#" class="drp_province_listtop w-dropdown-link" onclick="chooseCity(1)" onmouseover="chooseCity(1)">จ. น่าน</a>
              <a href="#" class="drp_province_list w-dropdown-link" onclick="chooseDistrict(1)" onmouseover="chooseDistrict(1);">อ. เชียงกลาง <span style="float: right;">2 โรงเรียน <strong>▸</strong></span></a>
              <a href="#" class="drp_province_list w-dropdown-link" onclick="chooseDistrict(2)" onmouseover="chooseDistrict(2);">อ. ท่าวังผา <span style="float: right;">1 โรงเรียน <strong>▸</strong></span></a>
              <a href="#" class="drp_province_list w-dropdown-link" onclick="chooseDistrict(3)" onmouseover="chooseDistrict(3);">อ. ปัว <span style="float: right;">1 โรงเรียน <strong>▸</strong></span></a>
              <a href="#" class="drp_province_list w-dropdown-link" onclick="chooseDistrict(4)" onmouseover="chooseDistrict(4);">อ. เมืองน่าน <span style="float: right;">1 โรงเรียน <strong>▸</strong></span></a>
              <a href="#" class="drp_province_list w-dropdown-link" onclick="chooseDistrict(5)" onmouseover="chooseDistrict(5);">อ. เวียงสา <span style="float: right;">2 โรงเรียน <strong>▸</strong></span></a>
              <a href="#" class="drp_province_list w-dropdown-link" onclick="chooseDistrict(6)" onmouseover="chooseDistrict(6);">อ. นาหมื่น <span style="float: right;">1 โรงเรียน <strong>▸</strong></span></a>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" class="dropdown_schoollist w-dropdown" style="margin-bottom:0;">
            <div class="drp_camp w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div class="drp_camp_text">รายชื่อโรงเรียนที่เข้าร่วมโครงการ</div>
            </div>
            <nav class="drp_campschool w-dropdown-list">
              <a href="school-detail.php?id=chiang" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(1);" onmouseout="closeViewSchhol();">รร. เชียงกลางประชาพัฒนา อ.เชียงกลาง<strong><span style="float: right;">▸</span></strong></a>
              <a href="school-detail.php?id=pratatpittayakom" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(2);" onmouseout="closeViewSchhol();">รร. พระธาตุพิทยาคม อ.เชียงกลาง<strong><span style="float: right;">▸</span></strong></a>
              <a href="school-detail.php?id=pitthayakhom" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(4);" onmouseout="closeViewSchhol();">รร. ท่าวังผาพิทยาคม อ.ท่าวังผา<strong><span style="float: right;">▸</span></strong></a>
              <a href="school-detail.php?id=puaschool" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(3);" onmouseout="closeViewSchhol();">รร. ปัว อ.ปัว<strong><span style="float: right;">▸</span></strong></a>
              <a href="school-detail.php?id=srisawatwittayakarn" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(5);" onmouseout="closeViewSchhol();">รร. ศรีสวัสดิ์วิทยาคาร อ.เมืองน่าน<strong><span style="float: right;">▸</span></strong></a>
              <a href="school-detail.php?id=saschool" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(6);" onmouseout="closeViewSchhol();">รร. สา อ.เวียงสา <strong><span style="float: right;">▸</span></strong></a>
              <a href="school-detail.php?id=orngeriiyn" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(7);" onmouseout="closeViewSchhol();">รร. ราชประชานุเคราะห์ 56 อ.เวียงสา<strong><span style="float: right;">▸</span></strong></a>
              <a href="school-detail.php?id=orngeriiynemuue" class="drp_school_list w-dropdown-link" onmouseover="viewSchool(8);" onmouseout="closeViewSchhol();">รร. เมืองลีประชาสามัคคี อ.นาหมื่น <strong><span style="float: right;">▸</span></strong></a>
            </nav>          </div>
          <div data-hover="false" data-delay="0" class="dropdown_pppypartner w-dropdown" style="margin-bottom:0;">
            <div class="drp_camp w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div class="drp_camp_text">พันธมิตรร่วมเพาะพันธุ์ปัญญา</div>
            </div>
            <nav class="drp_camppartner w-dropdown-list">
              <a href="#" class="drp_coat_detail w-dropdown-link">วิทยากร</a>
              <a href="#" class="drp_coat_detail w-dropdown-link">คณะกรรมการ</a>
            </nav>
          </div>
          <a href="#" class="btn_grad_pppy w-button">ทำเนียบรุ่นศิษย์เก่า เพาะพันธุ์ปัญญาแคมป์</a>
        </div>
      </div>
<style type="text/css">
  .tree {display: none;}
  .tree.treeDemo {display: block;}
  .treeView {display: none;z-index: 99;position: absolute;width: 300px;border: 3px solid #119c4a;background-color: #ffffff;padding: 10px 10px 10px 70px;text-align: left;top: 3px;}
  .treeView>img {position: absolute;left: -60px;bottom: -3px;height: 80px;}
  .treeView>span {font-size: 40px;color: #fff;position: absolute;z-index: 9;top: 45%;left: -5%;}
  .treeView>h4 {margin: 0;color: #119c4a;font-weight: bold;}
  .treeView>p {margin: 0;} 
  .treeView>p>a {margin: 0;color: #119c4a;} 
@media screen and (min-width: 320px) {
  .tree, .tree.treeDemo {position: absolute;}
  .tree>.treeImg>img, .tree.treeDemo>img {width: 50px;}
  .tree>.treeImg>span {font-size: 20px;color: #fff;position: absolute;z-index: 9;top: 16%;left: 37%;}
  .treeView {width: 250px;}
  .treeView>img {left: -45px;}
  .treeView>span {top: 54%;font-size: 30px;}
  #tree1 {top: 0;left: 0;margin: 24% 0 0 36%;}
  #tree2 {top: 0;left: 0;margin: 20% 0 0 48%;}
  #tree3 {top: 0;left: 0;margin: 37% 0 0 52%;}
  #tree4 {top: 0;left: 0;margin: 40% 0 0 31%;}
  #tree5 {top: 0;left: 0;margin: 58% 0 0 24%;}
  #tree6 {top: 0;left: 0;margin: 80% 0 0 18%;}
  #tree7 {top: 0;left: 0;margin: 85% 0 0 39%;}
  #tree8 {top: 0;left: 0;margin: 114% 0 0 18%;}

  .tree.treeDemo1 {top: 0;left: 0;margin: 15% 0 0 25%;}
  .tree.treeDemo2 {top: 0;left: 0;margin: 10% 0 0 45%;}
  .tree.treeDemo3 {top: 0;left: 0;margin: 15% 0 0 61%;}
  .tree.treeDemo4 {top: 0;left: 0;margin: 23% 0 0 40%;}
  .tree.treeDemo5 {top: 0;left: 0;margin: 40% 0 0 31%;}
  .tree.treeDemo6 {top: 0;left: 0;margin: 37% 0 0 51%;}  
  .tree.treeDemo7 {top: 0;left: 0;margin: 45% 0 0 68%;}  
  .tree.treeDemo8 {top: 0;left: 0;margin: 55% 0 0 50%;}  
  .tree.treeDemo9 {top: 0;left: 0;margin: 60% 0 0 7%;}  
  .tree.treeDemo10 {top: 0;left: 0;margin: 58% 0 0 24%;}  
  .tree.treeDemo11 {top: 0;left: 0;margin: 67% 0 0 39%;}  
  .tree.treeDemo12 {top: 0;left: 0;margin: 72% 0 0 58%;}  
  .tree.treeDemo13 {top: 0;left: 0;margin: 85% 0 0 28%;}
  .tree.treeDemo14 {top: 0;left: 0;margin: 104% 0 0 30%;}
  .tree.treeDemo15 {top: 0;left: 0;margin: 118% 0 0 20%;}

}
@media screen and (min-width: 375px) {
  #tree1 {top: 0;left: 0;margin: 27% 0 0 37%;}
  #tree2 {top: 0;left: 0;margin: 24% 0 0 48%;}
  #tree3 {top: 0;left: 0;margin: 40% 0 0 52%;}
  #tree4 {top: 0;left: 0;margin: 43% 0 0 32%;}
  #tree5 {top: 0;left: 0;margin: 62% 0 0 26%;}
  #tree6 {top: 0;left: 0;margin: 83% 0 0 18%;}
  #tree7 {top: 0;left: 0;margin: 88% 0 0 39%;}
  #tree8 {top: 0;left: 0;margin: 117% 0 0 20%;}

  .tree.treeDemo1 {top: 0;left: 0;margin: 20% 0 0 25%;}
  .tree.treeDemo2 {top: 0;left: 0;margin: 15% 0 0 45%;}
  .tree.treeDemo3 {top: 0;left: 0;margin: 15% 0 0 61%;}
  .tree.treeDemo4 {top: 0;left: 0;margin: 27% 0 0 40%;}
  .tree.treeDemo5 {top: 0;left: 0;margin: 40% 0 0 31%;}
  .tree.treeDemo6 {top: 0;left: 0;margin: 40% 0 0 51%;}  
  .tree.treeDemo7 {top: 0;left: 0;margin: 45% 0 0 68%;}  
  .tree.treeDemo8 {top: 0;left: 0;margin: 56% 0 0 50%;}  
  .tree.treeDemo9 {top: 0;left: 0;margin: 60% 0 0 7%;}  
  .tree.treeDemo10 {top: 0;left: 0;margin: 58% 0 0 24%;}  
  .tree.treeDemo11 {top: 0;left: 0;margin: 67% 0 0 39%;}  
  .tree.treeDemo12 {top: 0;left: 0;margin: 72% 0 0 58%;}  
  .tree.treeDemo13 {top: 0;left: 0;margin: 85% 0 0 28%;}
  .tree.treeDemo14 {top: 0;left: 0;margin: 104% 0 0 30%;}
  .tree.treeDemo15 {top: 0;left: 0;margin: 118% 0 0 22%;}
}
@media screen and (min-width: 1024px) {
  .treeView {width: 300px;}
  .treeView>span {top: 54%;font-size: 40px;}
  #tree1 {top: 0;left: 0;margin: 32% 0 0 39%;}
  #tree2 {top: 0;left: 0;margin: 28% 0 0 50%;}
  #tree3 {top: 0;left: 0;margin: 45% 0 0 55%;}
  #tree4 {top: 0;left: 0;margin: 47% 0 0 35%;}
  #tree5 {top: 0;left: 0;margin: 66% 0 0 28%;}
  #tree6 {top: 0;left: 0;margin: 88% 0 0 20%;}
  #tree7 {top: 0;left: 0;margin: 93% 0 0 42%;}
  #tree8 {top: 0;left: 0;margin: 123% 0 0 22%;}

  .tree.treeDemo1 {top: 0;left: 0;margin: 23% 0 0 27%;}
  .tree.treeDemo2 {top: 0;left: 0;margin: 18% 0 0 48%;}
  .tree.treeDemo3 {top: 0;left: 0;margin: 20% 0 0 65%;}
  .tree.treeDemo4 {top: 0;left: 0;margin: 30% 0 0 40%;}
  .tree.treeDemo5 {top: 0;left: 0;margin: 45% 0 0 35%;}
  .tree.treeDemo6 {top: 0;left: 0;margin: 44% 0 0 54%;}  
  .tree.treeDemo7 {top: 0;left: 0;margin: 45% 0 0 68%;}  
  .tree.treeDemo8 {top: 0;left: 0;margin: 60% 0 0 50%;}  
  .tree.treeDemo9 {top: 0;left: 0;margin: 65% 0 0 10%;}  
  .tree.treeDemo10 {top: 0;left: 0;margin: 63% 0 0 26%;}  
  .tree.treeDemo11 {top: 0;left: 0;margin: 72% 0 0 41%;}  
  .tree.treeDemo12 {top: 0;left: 0;margin: 78% 0 0 60%;}  
  .tree.treeDemo13 {top: 0;left: 0;margin: 90% 0 0 35%;}
  .tree.treeDemo14 {top: 0;left: 0;margin: 108% 0 0 33%;}
  .tree.treeDemo15 {top: 0;left: 0;margin: 122% 0 0 22%;}
}
@media screen and (min-width: 1200px) {
  .tree>.treeImg>img {width: 60px;}
  .tree>.treeImg>span {font-size: 20px;color: #fff;position: absolute;z-index: 9;top: 20%;left: 37%;}
  #tree1 {top: 0;left: 0;margin: 29% 0 0 37%;}
  #tree2 {top: 0;left: 0;margin: 24% 0 0 49%;}
  #tree3 {top: 0;left: 0;margin: 41% 0 0 52%;}
  #tree4 {top: 0;left: 0;margin: 44% 0 0 33%;}
  #tree5 {top: 0;left: 0;margin: 64% 0 0 25%;}
  #tree6 {top: 0;left: 0;margin: 86% 0 0 18%;}
  #tree7 {top: 0;left: 0;margin: 90% 0 0 39%;}
  #tree8 {top: 0;left: 0;margin: 121% 0 0 20%;}
}
@media screen and (min-width: 1300px) {
/*  .tree>.treeImg>img {width: 80px;}*/
/*  .tree>.treeImg>span {font-size: 34px;color: #fff;position: absolute;z-index: 9;top: 25%;left: 37%;}*/
  #tree1 {top: 0;left: 0;margin: 29% 0 0 37%;}
  #tree2 {top: 0;left: 0;margin: 24% 0 0 49%;}
  #tree3 {top: 0;left: 0;margin: 41% 0 0 52%;}
  #tree4 {top: 0;left: 0;margin: 44% 0 0 33%;}
  #tree5 {top: 0;left: 0;margin: 64% 0 0 25%;}
  #tree6 {top: 0;left: 0;margin: 86% 0 0 18%;}
  #tree7 {top: 0;left: 0;margin: 90% 0 0 39%;}
  #tree8 {top: 0;left: 0;margin: 117% 0 0 21%;}
}
@media screen and (min-width: 1440px) {
/*  #tree1 {top: 0;left: 0;margin: 31% 0 0 38%;}
  #tree2 {top: 0;left: 0;margin: 27% 0 0 50%;}
  #tree3 {top: 0;left: 0;margin: 43% 0 0 53%;}
  #tree4 {top: 0;left: 0;margin: 47% 0 0 33%;}
  #tree5 {top: 0;left: 0;margin: 66% 0 0 26%;}
  #tree6 {top: 0;left: 0;margin: 88% 0 0 20%;}
  #tree7 {top: 0;left: 0;margin: 93% 0 0 41%;}
  #tree8 {top: 0;left: 0;margin: 124% 0 0 21%;}*/
}
@media screen and (min-width: 2000px) {
/*  .tree>.treeImg>span {font-size: 40px;color: #fff;position: absolute;z-index: 9;top: 25%;left: 37%;}
  .tree>.treeImg>img {width: 120px;}*/
}
@media screen and (min-width: 2560px) {
/*    .tree>.treeImg>span {font-size: 50px;color: #fff;position: absolute;z-index: 9;top: 25%;left: 37%;}
  .tree>.treeImg>img {width: 150px;}*/
}

</style>
<script type="text/javascript">
  function chooseModal(argument) {
    $(".tree").hide();
    $(".treeModel"+argument).show();
  }
  function chooseCity(argument) {
    $(".tree").hide();
    $(".treeCity"+argument).show();
  }
  function chooseDistrict(argument) {
    $(".tree").hide();
    $(".treeDistrict"+argument).show();
  }
  function viewSchool(argument) {
    $(".treeView").hide();
    $(".treeViewSchool"+argument).show();
  }
  function closeViewSchhol(argument) {
    $(".treeView").hide();
  }
</script>
      <div class="colmap w-col w-col-6">
        <address id="pppy_mapblock" class="pppy_mapblock"><img src="images/map_nan.jpg" loading="lazy" sizes="100vw" srcset="images/map_nan.jpg 500w, images/map_nan.jpg 800w, images/map_nan.jpg 960w" alt="" id="pppy-map" class="pppy_map"></address>

        <div class="tree treeModel1 treeCity1 treeDistrict1 treeSchool1" id="tree1" data-modal="1" data-district="1" onmouseover="viewSchool(1);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>1</span></div>
          <div class="treeView treeViewSchool1">
            <img src="images/tree_view.png"><span>1</span>
            <h4>รร.เชียงกลางประชาพัฒนา อ.เชียงกลาง</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=chiang">MORE</a></p>
          </div>
        </div>
        <div class="tree treeModel1 treeCity1 treeDistrict1 treeSchool2" id="tree2" data-modal="1" data-district="1" onmouseover="viewSchool(2);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>2</span></div>
          <div class="treeView treeViewSchool2">
            <img src="images/tree_view.png"><span>2</span>
            <h4>รร.พระธาตุพิทยาคม อ.เชียงกลาง</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=pratatpittayakom">MORE</a></p>
          </div>          
        </div>
        <div class="tree treeModel1 treeCity1 treeDistrict3 treeSchool3" id="tree3" data-modal="1" data-district="3" onmouseover="viewSchool(3);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>3</span></div>
          <div class="treeView treeViewSchool3">
            <img src="images/tree_view.png"><span>3</span>
            <h4>รร.ปัว อ.บัว</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=puaschool">MORE</a></p>
          </div>          
        </div>
        <div class="tree treeModel1 treeCity1 treeDistrict2 treeSchool4" id="tree4" data-modal="1" data-district="2" onmouseover="viewSchool(4);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>4</span></div>
          <div class="treeView treeViewSchool4">
            <img src="images/tree_view.png"><span>4</span>
            <h4>รร.ท่าวังผาพิทยาคม อ.ท่าวังผา</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=pitthayakhom">MORE</a></p>
          </div>          
        </div>
        <div class="tree treeModel1 treeCity1 treeDistrict4 treeSchool5" id="tree5" data-modal="1" data-district="4" onmouseover="viewSchool(5);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>5</span></div>
          <div class="treeView treeViewSchool5">
            <img src="images/tree_view.png"><span>5</span>
            <h4>รร.ศรีสวัสกิ์วิทยาคาร อ.เมืองน่าน</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=srisawatwittayakarn">MORE</a></p>
          </div>          
        </div>
        <div class="tree treeModel1 treeCity1 treeDistrict5 treeSchool6" id="tree6" data-modal="1" data-district="5" onmouseover="viewSchool(6);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>6</span></div>
          <div class="treeView treeViewSchool6">
            <img src="images/tree_view.png"><span>6</span>
            <h4>รร.สา อ.เวียงสา</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=saschool">MORE</a></p>
          </div>          
        </div>
        <div class="tree treeModel1 treeCity1 treeDistrict5 treeSchool7" id="tree7" data-modal="1" data-district="5" onmouseover="viewSchool(7);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>7</span></div>
          <div class="treeView treeViewSchool7">
            <img src="images/tree_view.png"><span>7</span>
            <h4>รร.ราชประชานุเคราะห์ 56 อ.เวียงสา</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=orngeriiyn">MORE</a></p>
          </div>          
        </div>
        <div class="tree treeModel1 treeCity1 treeDistrict6 treeSchool8" id="tree8" data-modal="1" data-district="6" onmouseover="viewSchool(8);" onmouseout="closeViewSchhol();">
          <div class="treeImg"><img src="images/tree.png"><span>8</span></div>
          <div class="treeView treeViewSchool8">
            <img src="images/tree_view.png"><span>8</span>
            <h4>รร.เมืองลีประชาสามัคคี อ.นาหมื่น</h4>
            <p>(แยรนด์มะมื่นบัตเตอร์) เพิ่มมูลค่ามะมื่นของดีท้องถิ่นที่ได้ชื่อว่าเป็นอัลมอนด์เมืองไทย...<a href="school-detail.php?id=orngeriiynemuue">MORE</a></p>
          </div>          
        </div>


        <div class="tree treeDemo treeDemo1"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo2"><img src="images/tree.png"></div>        
        <div class="tree treeDemo treeDemo3"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo4"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo5"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo6"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo7"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo8"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo9"><img src="images/tree.png"></div>        
        <div class="tree treeDemo treeDemo10"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo11"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo12"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo13"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo14"><img src="images/tree.png"></div>
        <div class="tree treeDemo treeDemo15"><img src="images/tree.png"></div>
      </div>
    </div>
    </div>
  </section>
  <section class="newsandmedia">
    <div class="container-_index_vdo">
      <a href="blog.html" class="nag-buttontop w-button">ข่าวสารและมีเดีย</a>
      <div class="w-layout-blockcontainer container-6 w-container">
        <a href="news.html" class="nag-button w-button">ข่าวสาร</a>
        <a href="blog.html" class="nag-button w-button">บทความ</a>
        <a href="gallery.html" class="nag-button w-button">แกลลอรี่</a>
      </div>
      <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="mediaslidewrapper w-slide">
            <div class="mediablockcard"><img src="images/Untitled-31.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="images/Untitled-31-p-500.jpg 500w, images/Untitled-31.jpg 640w" alt="" class="mediaphotocard">
              <div class="mediablockinfo">
                <p class="mediatypedate"><strong>ข่าวสาร </strong> |  14 พ.ค. 2566</p>
                <h3 class="mediaheadinfo">การเปลี่ยนแปลงกระบวนการเรียน<br>การสอนให้เกิดขึ้นจริง</h3>
                <p class="mediasubdetail">มูลนิธิเพาะพันธุ์ปัญญา ก่อตั้งเมื่อวันที่ 3 ธ.ค. 2565 วัตถุประสงค์เพื่อต่อยอดโครงการผลิตครูและนักเรียน</p>
                <a href="news/changes-in-the-learning-process-teaching-to-make-it-happen.html" class="mediabuttonread w-button">อ่านต่อ</a>
              </div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="mediablockcard"><img src="images/Untitled-32.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="images/Untitled-32-p-500.jpg 500w, images/Untitled-32.jpg 553w" alt="" class="mediaphotocard">
              <div class="mediablockinfo">
                <p class="mediatypedate"><strong>บทความ</strong>  |  14 พ.ค. 2566</p>
                <h3 class="mediaheadinfo">เรื่องเล่าครูและนักเรียน<br>โครงการเพาะพันธุ์ปัญญา ปีที่ 1</h3>
                <p class="mediasubdetail">มูลนิธิเพาะพันธุ์ปัญญา ก่อตั้งเมื่อวันที่ 3 ธ.ค. 2565 วัตถุประสงค์เพื่อต่อยอดโครงการผลิตครูและนักเรียน</p>
                <a href="blog/stories-from-teachers-and-students-of-the-wisdom-cultivation-project-year-1.html" class="mediabuttonread w-button">อ่านต่อ</a>
              </div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="mediablockcard"><img src="images/Untitled-33.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="images/Untitled-33-p-500.jpg 500w, images/Untitled-33.jpg 614w" alt="" class="mediaphotocard">
              <div class="mediablockinfo">
                <p class="mediatypedate"><strong>ข่าวสาร</strong> |  14 พ.ค. 2566</p>
                <h3 class="mediaheadinfo">โรงเรียนปัว<br>เนยถั่วมะมื่น แบรนด์มะมื่นบัตเตอร์</h3>
                <p class="mediasubdetail">มูลนิธิเพาะพันธุ์ปัญญา ก่อตั้งเมื่อวันที่ 3 ธ.ค. 2565 วัตถุประสงค์เพื่อต่อยอดโครงการผลิตครูและนักเรียน</p>
              </div>
              <a href="news/pao-project-brand.html" class="mediabuttonread w-button">อ่านต่อ</a>
            </div>
          </div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="mediaslidnav w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </section>
