<div id="aboutus"></div>
<section class="keypageall">
  <div class="w-layout-blockcontainer keypagecontainer w-container">
    <h1 class="keypagetext">รู้จักเรา</h1>
  </div>
</section>
<section class="pppy_aboutus">
  <div class="w-layout-blockcontainer container-vission w-container">
    <h1 class="hltext-aboutusvission">เกี่ยวกับเรา</h1>
    <p class="paragraph-5"><strong>มูลนิธิเพาะพันธุ์ปัญญา</strong> เป็นองค์กรการกุศลไม่แสวงหาผลกำไร ก่อตั้งขึ้นเมื่อวันที่ 3 ธันวาคม พ.ศ. 2565 โดยมีวัตถุประสงค์ ดังนี้</p>
    <ul role="list" class="aboutus-list1">
      <li>
        <div class="textlist" id="vision-mssion">เพื่อผลิตและต่อยอดโครงการผลิตครูและนักเรียน ที่มีแนวคิดและแนวปฏิบัติตามแบบของโครงการเพาะพันธุ์ปัญญา</div>
      </li>
      <li>
        <div class="textlist">เพื่อต่อยอดความรู้ทักษะนำไปสู่การปฏิบัติได้จริง</div>
      </li>
      <li>
        <div class="textlist">เพื่อสร้างความยั่งยืนในการดำรงชีวิตและพัฒนาชุมชนในประเทศไทย<br></div>
      </li>
    </ul>
  </div>
</section>
<section id="" class="pppy_vission">
  <div class="w-layout-blockcontainer container-vission1 w-container">
    <h1 class="hltext-aboutusvission">วิสัยทัศน์และพันธกิจ</h1>
    <p class="paragraph-5">“มูลนิธิเพาะพันธุ์ปัญญามุ่งสร้างโอกาสในการเรียนรู้ตลอดชีวิตแก่เยาวชน เพื่อลดทอนความเหลื่อมล้ำทางการศึกษาในประเทศไทย”</p>
    <ul role="list" class="aboutus-list3">
      <li class="list-item-5">
        <div class="textlist">ให้โอกาสในการเข้าถึงความรู้ใหม่ทักษะใหม่ และสร้างประประสบการณ์ที่เป็นประโยชน์ต่อการดำรงชีพแก่เยาวชน เพื่อเปิดโอกาสให้เยาวชนมีทางเลือกในการประกอบอาชีพ ใช้ชีวิตอย่างสมดุล เป็นพลเมืองที่ดีของประเทศ เป็นผู้นำในการสร้างการเปลี่ยนแปลง และสามารถเผยแพร่แบ่งปันความรู้ใหม่ทักษะใหม่ และประสบการณ์นั้น เพื่อทำคุณประโยชน์ให้กับชุมชน สังคม และประเทศชาติได้อย่างยั่งยืน</div>
      </li>
      <li>
        <div class="textlist">ให้โอกาสในการเข้าถึงความรู้ใหม่และทักษะการสร้างกระบวนการเรียนรู้ตามแนวทางเพาะพันธุ์ปัญญาแก่ครู ที่ส่งเสริมให้เกิดการเรียนรู้ตามหลักผลเกิดจากเหตุ เพื่อให้เยาวชนและครูสามารถวิเคราะห์แนวทางในการแก้ปัญหา และต่อยอดโอกาสในการพัฒนาตนเอง</div>
      </li>
    </ul>
  </div>
</section>
<section class="pppy_brand"><img src="images/logo_aboutus.png" loading="lazy" sizes="(max-width: 991px) 60vw, 23vw" srcset="images/logo_aboutus-p-500.png 500w, images/logo_aboutus.png 523w" alt="" class="image-16">
  <h1 class="heading-9">ตราสัญลักษณ์</h1>
  <p class="paragraph-11">ตราสัญลักษณ์ของมูลนิธิเพาะพันธุ์ปัญญา สื่อถึงการพัฒนารูปแบบการศึกษาให้แก่เยาวชนไทย ที่มุ่งเน้นการคิด วิเคราะห์ การปฏิบัติจริง และต่อยอดให้เจริญเติบโตอย่างยั่งยืนโดยในตราสัญลักษณ์มีรูปสัญลักษณ์ที่ถือเป็นหัวใจสำคัญของการดำเนินงานของมูลนิธิ 4 อย่างได้แก่</p>
  <div class="infographic4items w-row">
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/book.png" loading="lazy" alt="" class="pppy_book"></div>
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/kra.png" loading="lazy" alt="" class="pppy_kra"></div>
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/tree_1.png" loading="lazy" alt="" class="pppy_tree"></div>
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/trasung.png" loading="lazy" alt="" class="pppy_trasung"></div>
  </div>
  <div class="subhead_color">ตราสัญลักษณ์ของมูลนิธิ มีทั้งหมด 4 สี มีความหมาย ดังนี้</div>
  <div class="infographic4items w-row">
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/color_white.png" loading="lazy" alt=""></div>
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/color_green.png" loading="lazy" alt=""></div>
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/color_red.png" loading="lazy" alt=""></div>
    <div class="w-col w-col-3 w-col-medium-6 w-col-small-6 w-col-tiny-6"><img src="images/color_gray.png" loading="lazy" alt=""></div>
  </div>
</section>
