  <section class="keypageall">
    <div class="w-layout-blockcontainer keypagecontainer w-container">
      <h1 class="keypagetext">ข่าวสารและมีเดีย</h1>
    </div>
  </section>
  <section class="section-news-keyimg">
    <div class="w-layout-blockcontainer container-nmi w-container">
      <div class="div-newsphoto"><img src="../images/news1.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" srcset="../images/news1-p-500.png 500w, ../images/news1-p-800.png 800w, ../images/news1-p-1080.png 1080w, ../images/news1.png 1254w" alt="" class="news-main-photo">
        <div class="w-layout-vflex flexbox-tab">
          <div class="w-layout-hflex flex-nm-left">
            <h1 class="headgroup">ข่าวสาร</h1>
          </div>
          <div class="w-layout-hflex flex-nm-block">
            <h1 class="headdate">09 ก.ย. 2566</h1>
          </div>
          <div class="w-layout-hflex flex-nm-end" style="width: 300px;">
            <!-- ShareThis BEGIN --><span style="margin-top: 5px;margin-right: 10px; font-family: sarabun; font-size: 16px;">แชร์ : </span> <div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-nm-detail" style="margin-top:150px;">
    <div class="w-layout-blockcontainer content-nm-detail w-container">
      <h1 class="head1_blog">“ไม่ทิ้งกัน”</h1>
      <h2 class="head2_contentblog">มูลนิธิเพาะพันธุ์ปัญญา<br>มอบเงินช่วยเหลือเหตุไฟไหม้ โรงเรียนบ้านนาราบ</h2>
      <div class="div-block-6"></div>
      <p class="paragraph-10">ดร.อดิศวร์ หลายชูไทย กรรมการผู้จัดการ มูลนิธิเพาะพันธุ์ปัญญา เป็นผู้แทนมูลนิธิฯ มอบเงินสมทบช่วยเหลือโรงเรียนบ้านนาราบ (จุลเกษตรศึกษาคาร) อำเภอนาน้อย จังหวัดน่าน ซึ่งประสบเหตุไฟไหม้อาคารเรียนได้รับความเสียหาย เพื่อเป็นการสร้างขวัญกำลังใจให้กับทางโรงเรียน และช่วยซ่อมแซมอาคาร จัดซื้ออุปกรณ์คุรุภัณฑ์ที่จำเป็น โดยมีนายภานุมาศ ปาฟอง  ผู้อำนวยการโรงเรียนบ้านนาราบ (จุลเกษตรศึกษาคาร) เป็นตัวแทนรับมอบ ณ โรงแรมน้ำทองน่าน อำเภอเมือง จังหวัดน่าน เมื่อเร็ว ๆ นี้<br><br><strong>ที่มา : </strong>เพจที่นี่เมืองน่าน</p>
    </div>
  </section>