<section class="keyscool"><img src="../images/School_banner_8.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/School_banner_8-p-500.png 500w, ../images/School_banner_8-p-800.png 800w, ../images/School_banner_8-p-1080.png 1080w, ../images/School_banner_8-p-1600.png 1600w, ../images/School_banner_8.png 1920w" class="keyschoolimage"></section>
<section class="schoolbrand">
  <div class="schoolcontainter">
    <div class="detailschoolmain">
      <h1 class="school_keybrand">คุกกี้ Ten Bites</h1>
      <p class="school-brand-keytextdetail">คุกกี้ 10 ชาติพันธุ์ มาพร้อมกับผ้าปักลายชนเผ่า</p>
      <p class="school-brand-subtextdetail">คุกกี้ที่มีส่วนผสมของวัตถุดิบที่เป็นเอกลักษณ์ของแต่ละชาติพันธุ์ในจังหวัดน่าน ควบคู่กับการใช้ผ้าปักลาย<br>ซึ่งเป็นหัตถกรรมท้องถิ่นของแต่ละชนเผ่า มาเป็นของที่ระลึกในการสร้างมูลค่าเพิ่มและส่งเสริมการขาย</p>
   
    </div>
  </div>
</section>
<section class="schoolteams">
  <div class="school-container"><img src="../images/Untitled-34.png" loading="lazy" alt="" class="schoolimage3"><img src="../images/Untitled-35.png" loading="lazy" alt="" class="schoolimage2">
    <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
    <p class="school-keytext">โรงเรียนราชประชานุเคราะห์ 56</p>
    <div class="schoolstudentgrid4">
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d8d-af735623" class="schoolstudentblock"><img src="../images/นารี.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. นารี แซ่โซ่ง</div>
        <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5d98-af735623" class="schoolstudentblock"><img src="../images/ปรียาณัฐ.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. ปรียาณัฐ ชัยภาคย์พิบูล</div>
        <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5da2-af735623" class="schoolstudentblock"><img src="../images/พิชญา.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. พิชญา พงศาผดุง</div>
        <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5db6-af735623" class="schoolstudentblock"><img src="../images/ศศิลักษณ์.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. ศศิลักษณ์ อุ่นถิ่น</div>
        <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
      </div>
      <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5dac-af735623" class="schoolstudentblock"><img src="../images/ศุภามาศ.png" loading="lazy" alt="" class="school-student">
        <div class="schoolstudent-name">นส. ศุภามาศ สอนรัตน์</div>
        <div class="schoolname-subtext-student">รร. ราชประชานุเคราะห์ 56</div>
      </div>
    </div>
  </div>
</section>
<section class="schoolphotovdos">
  <div class="container-_index_vdo">
    <div class="w-layout-blockcontainer container-6 w-container">
      <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
      <a href="#" class="school_button w-button">แกลลอรี่</a>
      <a href="#" class="school_button w-button">วิดีโอแกลลอรี่</a>
    </div>
    <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="w-slider-mask">
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/1_ราชประชา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/1_ราชประชา-p-500.png 500w, ../images/1_ราชประชา-p-800.png 800w, ../images/1_ราชประชา.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
          <div class="team-block-3"><img src="../images/4_ราชประชา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/4_ราชประชา-p-500.png 500w, ../images/4_ราชประชา-p-800.png 800w, ../images/4_ราชประชา.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
        </div>
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/2_ราชประชา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2_ราชประชา-p-500.png 500w, ../images/2_ราชประชา-p-800.png 800w, ../images/2_ราชประชา.png 1064w" alt="" class="schoolgallery"><img src="../images/5_ราชประชา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/5_ราชประชา-p-500.png 500w, ../images/5_ราชประชา-p-800.png 800w, ../images/5_ราชประชา.png 1064w" alt="" class="schoolgallery">
            <div class="team-block-info-3"></div>
          </div>
        </div>
        <div class="team-slide-wrapper-3 w-slide">
          <div class="team-block-3"><img src="../images/3_ราชประชา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/3_ราชประชา-p-500.png 500w, ../images/3_ราชประชา-p-800.png 800w, ../images/3_ราชประชา.png 1064w" alt="" class="schoolgallery"><img src="../images/6_ราชประชา.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/6_ราชประชา-p-500.png 500w, ../images/6_ราชประชา-p-800.png 800w, ../images/6_ราชประชา.png 1064w" alt="" class="schoolgallery"></div>
        </div>
      </div>
      <div class="team-slider-arrow-3 w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="team-slider-arrow-3 w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
    </div>
  </div>
</section>