
  <section class="keyscool"><img src="../images/School_banner_1.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/School_banner_1-p-500.png 500w, ../images/School_banner_1-p-800.png 800w, ../images/School_banner_1-p-1080.png 1080w, ../images/School_banner_1-p-1600.png 1600w, ../images/School_banner_1.png 1920w" class="keyschoolimage"></section>
  <section class="schoolbrand">
    <div class="schoolcontainter">
      <div class="detailschoolmain">
        <h1 class="school_keybrand">น้ำพริกสามช่า</h1>
        <p class="school-brand-keytextdetail">น้ำพริกสามสไตล์ เสริฟพร้อมสาหร่ายไกยี</p>
        <p class="school-brand-subtextdetail">ผลิตจำหน่ายน้ำพริกมะเขือเทศ ที่เสิร์ฟพร้อมสาหร่ายไกยี สาหร่ายน้ำจืดที่หาได้ในจังหวัดน่าน<br>ด้วยสูตรเด็ดสามสไตล์ หารับประทานได้ยาก</p>
        
      </div>
    </div>
  </section>
  <section class="schoolteams">
    <div class="school-container"><img src="../images/Untitled-34.png" loading="lazy" alt="" class="schoolimage1"><img src="../images/Untitled-35.png" loading="lazy" alt="" class="schoolimage2">
      <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
      <p class="school-keytext">โรงเรียนเชียงกลาง &quot;ประชาพัฒนา&quot; อ.เชียงกลาง จ.น่าน</p>
      <div class="schoolstudentgrid4">
     
        

        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5da2-de6b47fa" class="schoolstudentblock"><img src="../images/นายพัฒชรพล-อยู่สุข.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นายพัฒชรพล อยู่สุข</div>
          <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
        </div>

        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5da2-de6b47fa" class="schoolstudentblock"><img src="../images/นายชินกฤต-มางิ้ว.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นายชินกฤต มางิ้ว</div>
          <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
        </div>



        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5da2-de6b47fa" class="schoolstudentblock"><img src="../images/นส.-ธันชนก-ยศยิ่งทวี.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. ธันชนก ยศยิ่งทวี</div>
          <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
        </div>


        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5db6-de6b47fa" class="schoolstudentblock"><img src="../images/นส.-พัชรพร-เขียนนา.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. พัชรพร เขียนนา</div>
          <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
        </div>
        <div id="w-node-_56d3276b-ea8b-b0a7-0899-18c0664b5dac-de6b47fa" class="schoolstudentblock"><img src="../images/นส.-สุวิชญา-มาลา.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. สุวิชญา มาลา</div>
          <div class="schoolname-subtext-student">รร. เชียงกลาง “ประชาพัฒนา”</div>
        </div>
      </div>
    </div>
  </section>
  <section class="schoolphotovdos">
    <div class="container-_index_vdo">
      <div class="w-layout-blockcontainer container-6 w-container">
        <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
        <a href="#" class="school_button w-button">แกลลอรี่</a>
        <a href="#" class="school_button w-button">วิดีโอแกลลอรี่</a>
      </div>
      <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="team-slide-wrapper-3 w-slide">
            <div class="galleryblock">
              <a href="#" class="gallerylightbox w-inline-block w-lightbox">
                <img src="../images/schoolGallery1.jpg" loading="lazy" sizes="(max-width: 479px) 94vw,
                 (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw,
                  282px" srcset="../images/schoolGallery1-p-500.jpg 500w,
                   ../images/schoolGallery1.jpg 532w" alt="" class="schoolgallery">
                <script type="application/json" class="w-json">{
  "items": [],
  "group": ""
}</script>
              </a>
              <div class="team-block-info-3"></div>
            </div>
            <div class="team-block-3"><img src="../images/schoolGallery4.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/schoolGallery4-p-500.jpg 500w, ../images/schoolGallery4.jpg 532w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/schoolGallery2.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/schoolGallery2-p-500.jpg 500w, ../images/schoolGallery2.jpg 532w" alt="" class="schoolgallery">
              <img src="../images/schoolGallery5.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/schoolGallery5-p-500.jpg 500w, ../images/schoolGallery5.jpg 532w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/schoolGallery3.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/schoolGallery3-p-500.jpg 500w, ../images/schoolGallery3.jpg 532w" alt="" class="schoolgallery"><img src="../images/schoolGallery6.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/schoolGallery6-p-500.jpg 500w, ../images/schoolGallery6.jpg 532w" alt="" class="schoolgallery"></div>
          </div>


        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
      </div>
    </div>
  </section>