<section class="keypageall">
  <div class="w-layout-blockcontainer keypagecontainer w-container">
    <h1 class="keypagetext">รายละเอียดโครงการ</h1>
  </div>
</section>
<section class="pagedeail">
  <div class="w-layout-blockcontainer pppyheadcenter w-container"><img src="images/logo_pppy_camplogo.png"
      loading="lazy"
      sizes="(max-width: 479px) 100vw, (max-width: 767px) 67vw, (max-width: 991px) 85vw, (max-width: 1439px) 47vw, 738px"
      srcset="images/logo_pppy_camplogo-p-500.png 500w, images/logo_pppy_camplogo.png 738w" alt="" class="pppycamp_1">
  </div>
  <div class="w-layout-blockcontainer pppyheadcenter w-container">
    <img src="images/1project_detail_3circle.png" loading="lazy" sizes="(max-width: 479px) 69vw,
     (max-width: 767px) 66vw, (max-width: 991px) 67vw,
      (max-width: 1439px) 70vw, 63vw" srcset="images/1project_detail_3circle-p-500.png 500w,
       images/1project_detail_3circle-p-800.png 800w, images/1project_detail_3circle-p-1080.png 1080w,
        images/1project_detail_3circle.png 1228w" alt="" class="image-21">
  </div>
  <div class="w-layout-blockcontainer pppyheadcenter w-container" style="background-color: #cee07e;">
    <img src="images/2project_detail_5step.png" loading="lazy" sizes="(max-width: 479px) 69vw,
           (max-width: 767px) 66vw, (max-width: 991px) 67vw,
            (max-width: 1439px) 70vw, 63vw" srcset="images/2project_detail_5step-p-500.png 500w,
             images/2project_detail_5step-p-800.png 800w, images/1project_detail_3circle-p-1080.png 1080w,
              images/2project_detail_5step.png 1228w" alt="" class="image-21">
  </div>
  <div class="w-layout-blockcontainer pppyheadcenter w-container" style="background-color: #ededed;">
    <img src="images/3project_detail_model.png" loading="lazy" sizes="(max-width: 479px) 69vw,
                 (max-width: 767px) 66vw, (max-width: 991px) 67vw,
                  (max-width: 1439px) 70vw, 63vw" srcset="images/3project_detail_model-p-500.png 500w,
                   images/3project_detail_model-p-800.png 800w, images/3project_detail_model-p-1080.png 1080w,
                    images/3project_detail_model.png 1228w" alt="" class="image-21">
  </div>
  <div class="w-layout-blockcontainer pppyheadcenter w-container certificate">
    <ul class="block-reward1">
      <li>
        <ol class="col-sm-4"><img src="images/project-block-1.png"></ol>
        <ol class="col-sm-4"><img src="images/project-block-2.png"></ol>
        <ol class="col-sm-4"><img src="images/project-block-3.png"></ol>
        <ol class="col-sm-4"><img src="images/project-block-4.png"></ol>
        <ol class="col-sm-4"><img src="images/project-block-5.png"></ol>
        <ol class="col-sm-4"><img src="images/project-block-6.png"></ol>
      </li>
    </ul>
    <ul class="block-reward2">
      <li>
        <img src="images/certificate.png">
      </li>
    </ul>
  </div>
</section>
<style type="text/css">
  .certificate {padding-top: 50px;}
  .certificate>p {font-size: 23px;height: 30px;font-weight: 600;color: #00953b;text-align: center;}
  .certificate>ul {list-style-type: none;margin: 0;padding: 0;}
  .certificate>ul>li {margin: 0;padding: 0;}
  .certificate>ul>li>ol {margin: 0 0 10px 0;padding: 0;}
  @media screen and (min-width: 768px){
    .certificate {display: flex;}
    .certificate>p {padding-left: 5%;text-align:left;}
    .certificate>ul.block-reward1 {width: 75%;}
    .certificate>ul.block-reward1>li {}    
    .certificate>ul.block-reward1>li>ol {width: 33%;float: left;}
    .certificate>ul.block-reward2 {width: 25%;float: left;display: flex;align-items: center;justify-content: center;}
    .certificate>ul.block-reward2>li {}
  }
</style>