
  <section class="keyscool"><img src="../images/School_banner_5.png" loading="lazy" width="960" sizes="100vw" alt="" srcset="../images/School_banner_5-p-500.png 500w, ../images/School_banner_5-p-800.png 800w, ../images/School_banner_5-p-1080.png 1080w, ../images/School_banner_5-p-1600.png 1600w, ../images/School_banner_5.png 1920w" class="keyschoolimage"></section>
  <section class="schoolbrand">
    <div class="schoolcontainter">
      <div class="detailschoolmain">
        <h1 class="school_keybrand">NALANA</h1>
        <p class="school-brand-keytextdetail">ยกระดับ 6 ของดังน่าน ผ่าน BoxSet ลายเอกลักษณ์สำคัญจังหวัดน่าน</p>
        <p class="school-brand-subtextdetail">สแน็คบ็อกซ์ที่ยกระดับ 6 ขนมของดังที่เป็นเอกลักษณ์ของแต่ละชุมชนในจังหวัดน่าน<br>รวมอยู่ในบรรจุภัณฑ์ที่มีลวดลายพิเศษ เพิ่มมูลค่าของฝากจากน่าน เหมาะสำหรับนักท่องเที่ยว ได้สัมผัสประสบการณ์จังหวัดน่านภายในกล่องเดียว</p>

        <div class="socialcenter">
          <a href="#" class="iconlink w-inline-block"></a>
        </div>
      </div>
    </div>
  </section>
  <section class="schoolteams">
    <div class="school-container"><img src="../images/Untitled-34.png" loading="lazy" alt="" class="schoolimage3"><img src="../images/Untitled-35.png" loading="lazy" alt="" class="schoolimage2">
      <h2 class="school-headertext">นักเรียนที่เข้าร่วมโครงการเพาะพันธุ์ปัญญาแคมป์ รุ่นที่ 1</h2>
      <p class="school-keytext">โรงเรียนศรีสวัสดิ์วิทยาคาร</p>
      <div class="schoolstudentgrid4">
        <div id="w-node-a1c4acb3-dd13-ed60-a71d-2dab9973b3ad-279f7f3b" class="schoolstudentblock"><img src="../images/ปิยภรณ์.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. ปิยภรณ์ บัวทอง</div>
          <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
        </div>
        <div id="w-node-a1c4acb3-dd13-ed60-a71d-2dab9973b3b3-279f7f3b" class="schoolstudentblock"><img src="../images/กฤติยาณี.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. กฤติยาณี เทพจันตา</div>
          <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
        </div>
        <div id="w-node-a1c4acb3-dd13-ed60-a71d-2dab9973b3b9-279f7f3b" class="schoolstudentblock"><img src="../images/จิรภิญญา.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. จิรภิญญา ลัมยศ</div>
          <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
        </div>
        <div id="w-node-a1c4acb3-dd13-ed60-a71d-2dab9973b3bf-279f7f3b" class="schoolstudentblock"><img src="../images/พรปวีณ์.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. พรปวีณ์ ฝีปากเพราะ</div>
          <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
        </div>
        <div id="w-node-a1c4acb3-dd13-ed60-a71d-2dab9973b3c5-279f7f3b" class="schoolstudentblock"><img src="../images/วชิราภรณ์.png" loading="lazy" alt="" class="school-student">
          <div class="schoolstudent-name">นส. วชิราภรณ์ สมวงค์</div>
          <div class="schoolname-subtext-student">รร. ศรีสวัสดิ์วิทยาคาร</div>
        </div>
      </div>
    </div>
  </section>
  <section class="schoolphotovdos">
    <div class="container-_index_vdo">
      <div class="w-layout-blockcontainer container-6 w-container">
        <a href="#" class="schoolbutton-active w-button">ทั้งหมด</a>
        <a href="#" class="school_button w-button">แกลลอรี่</a>
        <a href="#" class="school_button w-button">วิดีโอแกลลอรี่</a>
      </div>
      <div data-delay="4000" data-animation="slide" class="team-slider-wrapper-4 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/1_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/1_ศรีสวัสดิ์-p-500.png 500w, ../images/1_ศรีสวัสดิ์-p-800.png 800w, ../images/1_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
            <div class="team-block-3"><img src="../images/schoolGallery4.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/schoolGallery4-p-500.jpg 500w, ../images/schoolGallery4.jpg 532w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/2_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/2_ศรีสวัสดิ์-p-500.png 500w, ../images/2_ศรีสวัสดิ์-p-800.png 800w, ../images/2_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery"><img src="../images/5_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/5_ศรีสวัสดิ์-p-500.png 500w, ../images/5_ศรีสวัสดิ์-p-800.png 800w, ../images/5_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery">
              <div class="team-block-info-3"></div>
            </div>
          </div>
          <div class="team-slide-wrapper-3 w-slide">
            <div class="team-block-3"><img src="../images/3_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/3_ศรีสวัสดิ์-p-500.png 500w, ../images/3_ศรีสวัสดิ์-p-800.png 800w, ../images/3_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery"><img src="../images/6_ศรีสวัสดิ์.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 43vw, (max-width: 1439px) 28vw, 282px" srcset="../images/6_ศรีสวัสดิ์-p-500.png 500w, ../images/6_ศรีสวัสดิ์-p-800.png 800w, ../images/6_ศรีสวัสดิ์.png 1064w" alt="" class="schoolgallery"></div>
          </div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow-3 w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav-3 w-slider-nav w-slider-nav-invert w-round w-num"></div>
      </div>
    </div>
  </section>