<section class="keypageall">
  <div class="w-layout-blockcontainer keypagecontainer w-container">
    <h1 class="keypagetext">พันธมิตรร่วมเพาะพันธุ์ปัญญา</h1>
  </div>
</section>
<div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
  <div class="tabsmart w-tab-menu">
    <a data-w-tab="Tab 1" class="generation w-inline-block w-tab-link w--current">
      <div class="generationtext">รุ่นที่ 1</div>
    </a>
    <a data-w-tab="Tab 2" class="generation w-inline-block w-tab-link">
      <div class="generationtext">ทั้งหมด</div>
    </a>
  </div>
  <div class="w-tab-content">
    <div data-w-tab="Tab 1" class="tabpane w-tab-pane w--tab-active">
      <div class="partnercontainer">
        <div class="w-layout-blockcontainer partnergridlist w-container">
          <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
          <h2 class="partnersubkey">“แคมป์กล้าเรียน”</h2>
          <div class="w-layout-hflex partnerblock">
            <div class="team-block-2">
              <div class="partner-card"><img src="images/pimjai.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">ศ.ดร.พิมพ์ใจ ใจเย็น</h3>
                <p class="partnersubtext">คณบดีสำนักวิชาวิทยาศาสตร์<br>และวิศวกรรมชีวโมเลกุล<br>สถาบันวิทยสิริเมธี (VISTEC)</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3040342015fefc8ab435",
    "origFileName": "popup_1_พิมพ์ใจ.png",
    "fileName": "popup_1_พิมพ์ใจ.png",
    "fileSize": 270941,
    "height": 1600,
    "url": "images/popup_1_พิมพ์ใจ.png",
    "width": 800,
    "caption": "ศ.ดร.พิมพ์ใจ ใจเย็น",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                  
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/nut.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณณัฐวุฒิ พึงเจริญพงศ์</h3>
                <p class="partnersubtext">CEO และผู้ก่อตั้ง Ookbee<br>ผู้จัดการกองทุน 500 tuktuks<br>CEO SIX (crypto)</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3046d51e49055aa272d5",
    "origFileName": "popup_2_ณัฐวุฒิ.png",
    "fileName": "popup_2_ณัฐวุฒิ.png",
    "fileSize": 237119,
    "height": 1391,
    "url": "images/popup_2_ณัฐวุฒิ.png",
    "width": 800,
    "caption": "คุณณัฐวุฒิ พึงเจริญพงศ์",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/woranun.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณวรกันต์ ธนโชติวรพงศ์</h3>
                <p class="partnersubtext">ร่วมก่อตั้ง บ.มอร์ฟู้ดส์ อินโนเทค จำกัดผลิตภัณฑ์โปรตีนจากพืช <br>แบรนด์ More Meat</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a30410a0477eb5c8e45a3",
    "origFileName": "popup_3_วรกันต์.png",
    "fileName": "popup_3_วรกันต์.png",
    "fileSize": 250697,
    "height": 1395,
    "url": "images/popup_3_วรกันต์.png",
    "width": 800,
    "caption": "คุณวรกันต์ ธนโชติวรพงศ์",
    "type": "image"
  }
],
"group": ""
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/manoon.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณมนูญ ทนะวัง</h3>
                <p class="partnersubtext plus">เจ้าของ <br>โกโก้ วัลเล่ย์ รีสอร์ท และคาเฟ่ <br>อ.ปัว จังหวัดน่าน</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3041b14e72e8d4f0ca14",
    "origFileName": "popup_4_มนูญ.png",
    "fileName": "popup_4_มนูญ.png",
    "fileSize": 259364,
    "height": 1359,
    "url": "images/popup_4_มนูญ.png",
    "width": 800,
    "caption": "คุณมนูญ ทนะวัง",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <section class="linesection"></section>
          <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
          <h2 class="partnersubkey">“แคมป์กล้าลุย”</h2>
          <div class="w-layout-hflex flex-block-2">
            <div class="team-block-2">
              <div class="partner-card"><img src="images/darin.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
              <div class="team-block-info-2">
                <h3 class="partnername">คุณดาริน สุทธพงษ์</h3>
                <p class="partnersubtext">CEO Hato Hub</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a30411d65ace284615877",
    "origFileName": "popup_5_ดาริน.png",
    "fileName": "popup_5_ดาริน.png",
    "fileSize": 222311,
    "height": 1202,
    "url": "images/popup_5_ดาริน.png",
    "width": 800,
    "caption": "คุณดาริน สุทธพงษ์",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                  <li class="list-item-2">
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "url": "https://www.youtube.com/watch?v=ybI52-kdpzM",
    "originalUrl": "https://www.youtube.com/watch?v=ybI52-kdpzM",
    "width": 940,
    "height": 528,
    "thumbnailUrl": "https://i.ytimg.com/vi/ybI52-kdpzM/hqdefault.jpg",
    "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FybI52-kdpzM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DybI52-kdpzM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FybI52-kdpzM%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
    "type": "video"
  }
],
"group": "คุณดาริน สุทธพงษ์"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/siriwat.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
              <div class="team-block-info-2">
                <h3 class="partnername">คุณศิริวัฒน์ วรเวทวุฒิคุณ</h3>
                <p class="partnersubtext">เจ้าของธุรกิจศิริวัฒน์แวนด์วิช</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3042f37897084a263c40",
    "origFileName": "popup_6_ศิริวัฒน์.png",
    "fileName": "popup_6_ศิริวัฒน์.png",
    "fileSize": 182213,
    "height": 1221,
    "url": "images/popup_6_ศิริวัฒน์.png",
    "width": 800,
    "caption": "คุณศิริวัฒน์ วรเวทวุฒิคุณ",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                  <li class="list-item-2">
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "url": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
    "originalUrl": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
    "width": 940,
    "height": 528,
    "thumbnailUrl": "http://i.ytimg.com/vi/lVUP3VQFgRQ/hqdefault.jpg",
    "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FlVUP3VQFgRQ&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DlVUP3VQFgRQ&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FlVUP3VQFgRQ%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
    "type": "video"
  }
],
"group": "คุณศิริวัฒน์ วรเวทวุฒิคุณ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <section class="linesection"></section>
          </div>
          <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการ</p>
          <h2 class="partnersubkey">“แคมป์กล้าก้าว”</h2>
          <section class="linesection"></section>
          <div class="w-layout-hflex flex-block-2">
            <div class="team-block-2">
              <div class="partner-card"><img src="images/peanut.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
              <div class="team-block-info-2">
                <h3 class="partnername">คุณอารีย์ เพ็ชรรัตน์</h3>
                <p class="partnersubtext">กรรมการผู้จัดการ<br>บริษัท บ้านถั่วลิสง จำกัด<br>‍</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3041b575d1272c0164e5",
    "origFileName": "popup_7_อารีย์.png",
    "fileName": "popup_7_อารีย์.png",
    "fileSize": 235138,
    "height": 1417,
    "url": "images/popup_7_อารีย์.png",
    "width": 800,
    "caption": "คุณอารีย์ เพ็ชรรัตน์",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="sectionpicker">
        <div class="w-layout-blockcontainer pagedetail_parner w-container">
          <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
          <h2 class="partnersubkey">“แคมป์กล้าเรียน”</h2>
          <div class="w-layout-hflex partnerblock">
            <div class="commentatorlist">
              <div class="partner-card bgwhite"><img src="images/คุณณัฐนรี-ศรีชัยยะ.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณณัฐนรี ศรีชัยยะ</h3>
                <p class="partnersubtext">ผู้อำนวยการกลุ่มงาน<br>ส่งเสริมการพัฒนาชุมชน<br>ส านักงานพัฒนาชุมชน<br>จังหวัดน่าน</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a303fa44b12668a2349bf",
    "origFileName": "judge_1_ณัฐนรี.png",
    "fileName": "judge_1_ณัฐนรี.png",
    "fileSize": 209399,
    "height": 1259,
    "url": "images/judge_1_ณัฐนรี.png",
    "width": 800,
    "caption": "คุณณัฐนรี ศรีชัยยะ",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/คุณธัญชนก-จอมทรักษ์.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณธัญชนก จอมทรักษ์</h3>
                <p class="partnersubtext">ผู้จัดการศูนย์ให้บริการ SME ครบวงจร<br>ส านักงานส่งเสริมวิสาหกิจ<br>ขนาดกลางและขนาดย่อม<br>(สสว.) จ.น่าน</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3040b575d1272c016405",
    "origFileName": "judge_2_ธัญชนก.png",
    "fileName": "judge_2_ธัญชนก.png",
    "fileSize": 263909,
    "height": 1334,
    "url": "images/judge_2_ธัญชนก.png",
    "width": 800,
    "caption": "คุณธัญชนก จอมทรักษ์",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/คุณวีระ-เจียรนัยพานิชย์.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณวีระ เจียรนัยพานิชย์</h3>
                <p class="partnersubtext">ที่ปรึกษาด้านการตลาด<br>และสร้างเครือข่ายธุรกิจ</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a30401b3f0140e500053a",
    "origFileName": "judge_3_วีระ.png",
    "fileName": "judge_3_วีระ.png",
    "fileSize": 203428,
    "height": 1268,
    "url": "images/judge_3_วีระ.png",
    "width": 800,
    "caption": "คุณวีระ เจียรนัยพานิชย์",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/คุณอานันท์-กุลปิยะวาจา.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณอานันท์ กุลปิยะวาจา</h3>
                <p class="partnersubtext plus">Head of Entrepreneurship<br>and Innovation Instructor<br>Base Playhouse</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a303f35be97aaea06bfcf",
    "origFileName": "judge_4_อานันท์.png",
    "fileName": "judge_4_อานันท์.png",
    "fileSize": 212062,
    "height": 1233,
    "url": "images/judge_4_อานันท์.png",
    "width": 800,
    "caption": "คุณอานันท์ กุลปิยะวาจา",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="w-layout-hflex partnerblock">
            <div class="commentatorlist">
              <div class="partner-card bgwhite"><img src="images/khun-wanwaraj-boonkong.png" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณวรรณวเรศ บุญคง</h3>
                <p class="partnersubtext">Senior Investment Manager<br>Beacon Venture Capital</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "6527963bcfef9b13045b4a94",
    "origFileName": "judge_wanwaraj.png",
    "fileName": "judge_wanwaraj.png",
    "fileSize": 276023,
    "height": 1740,
    "url": "images/judge_wanwaraj.png",
    "width": 800,
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/dr-darinee.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">ดร.ดลินี ศาสตระรุจิ</h3>
                <p class="partnersubtext">ผู้อำนวยการฝ่ายอาวุโส<br>Integrated Channels Management<br>Department</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "6527963b34ab1e4f8947dffd",
    "origFileName": "judge_darinee.png",
    "fileName": "judge_darinee.png",
    "fileSize": 264622,
    "height": 1740,
    "url": "images/judge_darinee.png",
    "width": 800,
    "caption": "ดร.ดลินี ศาสตระรุจิ",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการ</p>
          <h2 class="partnersubkey">“แคมป์กล้าก้าว”</h2>
          <div class="w-layout-hflex partnerblock">
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/คุณชลารัตน์-พินิจเบญจพล.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณชลารัตน์ พินิจเบญจพล</h3>
                <p class="partnersubtext">รองกรรมการผู้จัดการ<br>สายงานผลิตภัณฑ์เครดิต<br>บมจ.ธนาคารกสิกรไทย</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3040b575d1272c016447",
    "origFileName": "judge_5_ชลารัตน์.png",
    "fileName": "judge_5_ชลารัตน์.png",
    "fileSize": 230702,
    "height": 1340,
    "url": "images/judge_5_ชลารัตน์.png",
    "width": 800,
    "caption": "คุณชลารัตน์ พินิจเบญจพล",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/คุณเชษฐพันธุ์-ศิริดานุภัทร.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณเชษฐพันธุ์ ศิริดานุภัทร</h3>
                <p class="partnersubtext">Managing Director<br>KBTG</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3040eca0ce9f1bde5bec",
    "origFileName": "judge_8_เชษฐพันธุ์.png",
    "fileName": "judge_8_เชษฐพันธุ์.png",
    "fileSize": 209816,
    "height": 1289,
    "url": "images/judge_8_เชษฐพันธุ์.png",
    "width": 800,
    "caption": "คุณเชษฐพันธุ์ ศิริดานุภัทร",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/ดร.พณชิต-กิตติปัญญางาม.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">ดร.พณชิต กิตติปัญญางาม</h3>
                <p class="partnersubtext">อดีดนายกสมาคม Thailand Tech<br>Startup Association<br>CEO &amp; ผู้ร่วมก่อตั้ง ZTRUS</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a30416598f3dd3a79558e",
    "origFileName": "judge_9_พณชิต.png",
    "fileName": "judge_9_พณชิต.png",
    "fileSize": 248537,
    "height": 1369,
    "url": "images/judge_9_พณชิต.png",
    "width": 800,
    "caption": "ดร.พณชิต กิตติปัญญางาม",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card bgwhite"><img src="images/คุณเมธวิน-ปิติพรวิวัฒน์.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณเมธวิน ปิติพรวิวัฒน์</h3>
                <p class="partnersubtext plus">CEO<br>BASE Playhouse</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3040b670f7e8d29c12c5",
    "origFileName": "judge_10_เมธวิน.png",
    "fileName": "judge_10_เมธวิน.png",
    "fileSize": 213004,
    "height": 1263,
    "url": "images/judge_10_เมธวิน.png",
    "width": 800,
    "caption": "คุณเมธวิน ปิติพรวิวัฒน์",
    "type": "image"
  }
],
"group": "คณะกรรมการ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>











    <div data-w-tab="Tab 2" class="tabpane w-tab-pane">
      <div class="partnercontainer">
        <div class="w-layout-blockcontainer partnergridlist w-container">
          <p class="partnersubhead">วิทยากรที่เข้าร่วมสร้างแรงบันดาลใจในโครงการทั้งหมด</p>
         
          <div class="w-layout-hflex partnerblock">
            <div class="team-block-2">
              <div class="partner-card"><img src="images/pimjai.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">ศ.ดร.พิมพ์ใจ ใจเย็น</h3>
                <p class="partnersubtext">คณบดีสำนักวิชาวิทยาศาสตร์<br>และวิศวกรรมชีวโมเลกุล<br>สถาบันวิทยสิริเมธี (VISTEC)</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3040342015fefc8ab435",
    "origFileName": "popup_1_พิมพ์ใจ.png",
    "fileName": "popup_1_พิมพ์ใจ.png",
    "fileSize": 270941,
    "height": 1600,
    "url": "images/popup_1_พิมพ์ใจ.png",
    "width": 800,
    "caption": "ศ.ดร.พิมพ์ใจ ใจเย็น",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/nut.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณณัฐวุฒิ พึงเจริญพงศ์</h3>
                <p class="partnersubtext">CEO และผู้ก่อตั้ง Ookbee<br>ผู้จัดการกองทุน 500 tuktuks<br>CEO SIX (crypto)</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3046d51e49055aa272d5",
    "origFileName": "popup_2_ณัฐวุฒิ.png",
    "fileName": "popup_2_ณัฐวุฒิ.png",
    "fileSize": 237119,
    "height": 1391,
    "url": "images/popup_2_ณัฐวุฒิ.png",
    "width": 800,
    "caption": "คุณณัฐวุฒิ พึงเจริญพงศ์",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/woranun.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณวรกันต์ ธนโชติวรพงศ์</h3>
                <p class="partnersubtext">ร่วมก่อตั้ง บ.มอร์ฟู้ดส์ อินโนเทค จำกัดผลิตภัณฑ์โปรตีนจากพืช <br>แบรนด์ More Meat</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a30410a0477eb5c8e45a3",
    "origFileName": "popup_3_วรกันต์.png",
    "fileName": "popup_3_วรกันต์.png",
    "fileSize": 250697,
    "height": 1395,
    "url": "images/popup_3_วรกันต์.png",
    "width": 800,
    "caption": "คุณวรกันต์ ธนโชติวรพงศ์",
    "type": "image"
  }
],
"group": ""
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/manoon.png" loading="lazy" alt="" class="partnerphoto"></div>
              <div class="partnerblockinfo">
                <h3 class="partnername">คุณมนูญ ทนะวัง</h3>
                <p class="partnersubtext plus">เจ้าของ <br>โกโก้ วัลเล่ย์ รีสอร์ท และคาเฟ่ <br>อ.ปัว จังหวัดน่าน</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3041b14e72e8d4f0ca14",
    "origFileName": "popup_4_มนูญ.png",
    "fileName": "popup_4_มนูญ.png",
    "fileSize": 259364,
    "height": 1359,
    "url": "images/popup_4_มนูญ.png",
    "width": 800,
    "caption": "คุณมนูญ ทนะวัง",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="w-layout-hflex flex-block-2">
            <div class="team-block-2">
              <div class="partner-card"><img src="images/darin.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
              <div class="team-block-info-2">
                <h3 class="partnername">คุณดาริน สุทธพงษ์</h3>
                <p class="partnersubtext">CEO Hato Hub</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a30411d65ace284615877",
    "origFileName": "popup_5_ดาริน.png",
    "fileName": "popup_5_ดาริน.png",
    "fileSize": 222311,
    "height": 1202,
    "url": "images/popup_5_ดาริน.png",
    "width": 800,
    "caption": "คุณดาริน สุทธพงษ์",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                  <li class="list-item-2">
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "url": "https://www.youtube.com/watch?v=ybI52-kdpzM",
    "originalUrl": "https://www.youtube.com/watch?v=ybI52-kdpzM",
    "width": 940,
    "height": 528,
    "thumbnailUrl": "https://i.ytimg.com/vi/ybI52-kdpzM/hqdefault.jpg",
    "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FybI52-kdpzM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DybI52-kdpzM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FybI52-kdpzM%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
    "type": "video"
  }
],
"group": "คุณดาริน สุทธพงษ์"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-block-2">
              <div class="partner-card"><img src="images/siriwat.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
              <div class="team-block-info-2">
                <h3 class="partnername">คุณศิริวัฒน์ วรเวทวุฒิคุณ</h3>
                <p class="partnersubtext">เจ้าของธุรกิจศิริวัฒน์แวนด์วิช</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3042f37897084a263c40",
    "origFileName": "popup_6_ศิริวัฒน์.png",
    "fileName": "popup_6_ศิริวัฒน์.png",
    "fileSize": 182213,
    "height": 1221,
    "url": "images/popup_6_ศิริวัฒน์.png",
    "width": 800,
    "caption": "คุณศิริวัฒน์ วรเวทวุฒิคุณ",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                  <li class="list-item-2">
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-vdo.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "url": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
    "originalUrl": "https://www.youtube.com/watch?v=lVUP3VQFgRQ",
    "width": 940,
    "height": 528,
    "thumbnailUrl": "http://i.ytimg.com/vi/lVUP3VQFgRQ/hqdefault.jpg",
    "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FlVUP3VQFgRQ&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DlVUP3VQFgRQ&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FlVUP3VQFgRQ%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
    "type": "video"
  }
],
"group": "คุณศิริวัฒน์ วรเวทวุฒิคุณ"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="w-layout-hflex flex-block-2">
            <div class="team-block-2">
              <div class="partner-card"><img src="images/peanut.png" loading="lazy" alt="" class="team-member-image-two-2"></div>
              <div class="team-block-info-2">
                <h3 class="partnername">คุณอารีย์ เพ็ชรรัตน์</h3>
                <p class="partnersubtext">กรรมการผู้จัดการ<br>บริษัท บ้านถั่วลิสง จำกัด<br>‍</p>
                <ul role="list" class="list w-list-unstyled">
                  <li>
                    <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                      <script type="application/json" class="w-json">{
"items": [
  {
    "_id": "651a3041b575d1272c0164e5",
    "origFileName": "popup_7_อารีย์.png",
    "fileName": "popup_7_อารีย์.png",
    "fileSize": 235138,
    "height": 1417,
    "url": "images/popup_7_อารีย์.png",
    "width": 800,
    "caption": "คุณอารีย์ เพ็ชรรัตน์",
    "type": "image"
  }
],
"group": "วิทยากร"
}</script>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


<!-- Section-->

<section class="sectionpicker">
  <div class="w-layout-blockcontainer pagedetail_parner w-container">
    <p class="partnersubhead">คณะกรรมการที่เข้าร่วมตัดสินในโครงการทั้งหมด</p>

    <div class="w-layout-hflex partnerblock">
      <div class="commentatorlist">
        <div class="partner-card bgwhite"><img src="images/คุณณัฐนรี-ศรีชัยยะ.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณณัฐนรี ศรีชัยยะ</h3>
          <p class="partnersubtext">ผู้อำนวยการกลุ่มงาน<br>ส่งเสริมการพัฒนาชุมชน<br>ส านักงานพัฒนาชุมชน<br>จังหวัดน่าน</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a303fa44b12668a2349bf",
"origFileName": "judge_1_ณัฐนรี.png",
"fileName": "judge_1_ณัฐนรี.png",
"fileSize": 209399,
"height": 1259,
"url": "images/judge_1_ณัฐนรี.png",
"width": 800,
"caption": "คุณณัฐนรี ศรีชัยยะ",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/คุณธัญชนก-จอมทรักษ์.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณธัญชนก จอมทรักษ์</h3>
          <p class="partnersubtext">ผู้จัดการศูนย์ให้บริการ SME ครบวงจร<br>ส านักงานส่งเสริมวิสาหกิจ<br>ขนาดกลางและขนาดย่อม<br>(สสว.) จ.น่าน</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a3040b575d1272c016405",
"origFileName": "judge_2_ธัญชนก.png",
"fileName": "judge_2_ธัญชนก.png",
"fileSize": 263909,
"height": 1334,
"url": "images/judge_2_ธัญชนก.png",
"width": 800,
"caption": "คุณธัญชนก จอมทรักษ์",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/คุณวีระ-เจียรนัยพานิชย์.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณวีระ เจียรนัยพานิชย์</h3>
          <p class="partnersubtext">ที่ปรึกษาด้านการตลาด<br>และสร้างเครือข่ายธุรกิจ</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a30401b3f0140e500053a",
"origFileName": "judge_3_วีระ.png",
"fileName": "judge_3_วีระ.png",
"fileSize": 203428,
"height": 1268,
"url": "images/judge_3_วีระ.png",
"width": 800,
"caption": "คุณวีระ เจียรนัยพานิชย์",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/คุณอานันท์-กุลปิยะวาจา.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณอานันท์ กุลปิยะวาจา</h3>
          <p class="partnersubtext plus">Head of Entrepreneurship<br>and Innovation Instructor<br>Base Playhouse</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a303f35be97aaea06bfcf",
"origFileName": "judge_4_อานันท์.png",
"fileName": "judge_4_อานันท์.png",
"fileSize": 212062,
"height": 1233,
"url": "images/judge_4_อานันท์.png",
"width": 800,
"caption": "คุณอานันท์ กุลปิยะวาจา",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-layout-hflex partnerblock">
      <div class="commentatorlist">
        <div class="partner-card bgwhite"><img src="images/khun-wanwaraj-boonkong.png" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณวรรณวเรศ บุญคง</h3>
          <p class="partnersubtext">Senior Investment Manager<br>Beacon Venture Capital</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "6527963bcfef9b13045b4a94",
"origFileName": "judge_wanwaraj.png",
"fileName": "judge_wanwaraj.png",
"fileSize": 276023,
"height": 1740,
"url": "images/judge_wanwaraj.png",
"width": 800,
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/dr-darinee.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">ดร.ดลินี ศาสตระรุจิ</h3>
          <p class="partnersubtext">ผู้อำนวยการฝ่ายอาวุโส<br>Integrated Channels Management<br>Department</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "6527963b34ab1e4f8947dffd",
"origFileName": "judge_darinee.png",
"fileName": "judge_darinee.png",
"fileSize": 264622,
"height": 1740,
"url": "images/judge_darinee.png",
"width": 800,
"caption": "ดร.ดลินี ศาสตระรุจิ",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-layout-hflex partnerblock">
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/คุณชลารัตน์-พินิจเบญจพล.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณชลารัตน์ พินิจเบญจพล</h3>
          <p class="partnersubtext">รองกรรมการผู้จัดการ<br>สายงานผลิตภัณฑ์เครดิต<br>บมจ.ธนาคารกสิกรไทย</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a3040b575d1272c016447",
"origFileName": "judge_5_ชลารัตน์.png",
"fileName": "judge_5_ชลารัตน์.png",
"fileSize": 230702,
"height": 1340,
"url": "images/judge_5_ชลารัตน์.png",
"width": 800,
"caption": "คุณชลารัตน์ พินิจเบญจพล",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/คุณเชษฐพันธุ์-ศิริดานุภัทร.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณเชษฐพันธุ์ ศิริดานุภัทร</h3>
          <p class="partnersubtext">Managing Director<br>KBTG</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a3040eca0ce9f1bde5bec",
"origFileName": "judge_8_เชษฐพันธุ์.png",
"fileName": "judge_8_เชษฐพันธุ์.png",
"fileSize": 209816,
"height": 1289,
"url": "images/judge_8_เชษฐพันธุ์.png",
"width": 800,
"caption": "คุณเชษฐพันธุ์ ศิริดานุภัทร",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/ดร.พณชิต-กิตติปัญญางาม.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">ดร.พณชิต กิตติปัญญางาม</h3>
          <p class="partnersubtext">อดีดนายกสมาคม Thailand Tech<br>Startup Association<br>CEO &amp; ผู้ร่วมก่อตั้ง ZTRUS</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a30416598f3dd3a79558e",
"origFileName": "judge_9_พณชิต.png",
"fileName": "judge_9_พณชิต.png",
"fileSize": 248537,
"height": 1369,
"url": "images/judge_9_พณชิต.png",
"width": 800,
"caption": "ดร.พณชิต กิตติปัญญางาม",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-block-2">
        <div class="partner-card bgwhite"><img src="images/คุณเมธวิน-ปิติพรวิวัฒน์.png" loading="lazy" alt="" class="partnerphoto"></div>
        <div class="partnerblockinfo">
          <h3 class="partnername">คุณเมธวิน ปิติพรวิวัฒน์</h3>
          <p class="partnersubtext plus">CEO<br>BASE Playhouse</p>
          <ul role="list" class="list w-list-unstyled">
            <li>
              <a href="#" class="partnerlightbox w-inline-block w-lightbox"><img src="images/icon-coa-folder.png" loading="lazy" width="30" alt="">
                <script type="application/json" class="w-json">{
"items": [
{
"_id": "651a3040b670f7e8d29c12c5",
"origFileName": "judge_10_เมธวิน.png",
"fileName": "judge_10_เมธวิน.png",
"fileSize": 213004,
"height": 1263,
"url": "images/judge_10_เมธวิน.png",
"width": 800,
"caption": "คุณเมธวิน ปิติพรวิวัฒน์",
"type": "image"
}
],
"group": "คณะกรรมการ"
}</script>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>






    </div>
  </div>
</div>
